[2014-12-15 12:53] bheesham opened #5 "Ignoring statuses from the try branch."
I'll submit a PR when I get more work done. This is more to keep @larsbergstrom updated, and for anyone to help out.

Right now I've found something that works to work as a filter for reporting statuses.  (This all goes in `master.cfg` for Buildbot.)

[code]

It's not pretty, but it **works**. I'm going to try to make this look a little prettier so that it can be used in the config file without ma

[2014-12-15 19:50] #5 closed, assigned to nobody

[2015-05-29 21:29] edunham opened #32 "Need automation for prebuilding Rust compiler"
In order to do a Servo release, we prebuild the Rust compiler. This is currently done on @larsbergstrom's laptop.
Some relatively up-to-date docs on the prebuild process are at https://github.com/servo/servo/wiki/Updating-the-Rust-compiler-used-by-Servo

The machine which successfully builds the compiler is Ubuntu 14.04 LTS with installed software as described by the dpkg list at https://pastebin.

[2015-05-29 21:40] Manishearth commented on #32
Is there any specific setup for osx?

[2015-05-29 21:47] larsbergstrom commented on #32
@Manishearth There's nothing at all interesting about the OSX setup except that it has the Android tools installed, which we don't have a builder for right now (because it wasn't working until ~2 weeks ago).

[2015-06-02 18:25] metajack opened #36 "upgrade mac1 and mac2 builders to 10.10.3"
mac3 is 10.10.3 already, and this is causing problems when jobs are scheduled on different machines.

[2015-06-10 22:06] larsbergstrom commented on #36
All machines are now on 10.10.3.

[2015-06-10 22:06] #36 closed

[2015-06-17 00:30] edunham opened #54 "Homu-ify glutin"
[code]

[2015-06-17 14:25] metajack commented on #54
This is now fixed.

[2015-06-17 14:25] #54 closed

[2015-06-17 14:26] metajack opened #56 "Upgrade homu version"
The new one has some fixes like not using both `tmp` and `auto` branches.

[2015-06-17 14:26] metajack opened #57 "Change from GitPoller to PBChangeSource"
This stopped working when we switched to homu but once #56 lands, this should work again.

[2015-06-17 15:07] metajack opened #59 "homu repos that use travis should exclude master"
Right now it causes a lot of spurious travis runs. 1) initial PR 2) merge into tmp 3) merge into auto 4) fast forward to master.

(2) will fixed by #56. (4) is what this bug proposes to fix. The other two are both needed.

[2015-06-17 16:51] #56 closed

[2015-06-18 23:30] mbrubeck opened #66 "Homu-ify libfontconfig"
https://github.com/servo/libfontconfig is not set up to use Homu and Travis yet.

Note that this is a fork of a C library, and does not build any Rust libraries or tests.  If we want to run tests on checkin, they will need to be the C tests in the `tests` directory.

[2015-06-19 03:05] metajack commented on #66
Fixed.

[2015-06-19 03:05] #66 closed

[2015-06-19 03:43] metajack opened #70 "mozjs and rust-mozjs need buildbot ci"
Travis CI doesn't have enough memory to reliably build them.

[2015-06-20 03:14] metajack opened #76 "add an android cargo builder"
We want some deps checked on android, but need a special cargo builder for that. There is already some work done in master.cfg so that specific projects can opt into android builds (ie, `ANDROID_PROJECTS`).

I think good candidates are any of the `*-sys` and their bindings: skia, rust-azure, mozjs, rust-mozjs, libfontconfig, etc. These were recently broken on android when trying to modify them for

[2015-07-29 21:50] edunham opened #87 "Travis should test all states"
https://github.com/servo/saltfs/blob/master/top.sls#L2-L4 master, Linux, etc.

[2015-08-26 20:26] edunham commented on #32
I'm using Ansible for the Rust infrastructure. The role which resolves this issue on the Linux side (still working on the OSX side) is currently [here](https://github.com/edunham/ansible-rust-infra/tree/master/roles/servo-compiler) though it may make more sense to factor it into its own repo later.

In a clone of the repo linked above, I can `vagrant up ndk` (that's what I nicknamed the box that d

[2015-08-26 20:29] edunham commented on #32
@Manishearth The mac just needs the packages required for building rust and [building the NDK](https://github.com/servo/servo/wiki/Building-for-Android), so it needs to have Brew installed. After the dependencies are installed, the commands for building the snapshot are the same as on Linux.

[2015-08-27 15:18] metajack commented on #59
This is actually a limitation of Travis. If you turn off master then some other stuff breaks.

[2015-08-27 15:18] #59 closed

[2015-08-27 16:28] Ms2ger opened #99 "make_user_data is silly"
Could use `""" """`-style strings.

[2015-08-27 19:47] larsbergstrom opened #101 "killall servo either after or before a run"
We have lots of cases of zombie servo instances being left around, killin' our machines. We should add something to buildbot that kablooies them.

[2015-08-28 14:17] larsbergstrom opened #102 "Automatically apply updates regularly"
Right now, we manually apply updates on the linux boxes (the macs are set to auto-update). We should add a cron job or similar to auto-update the linux boxes.

[2015-08-28 15:12] metajack commented on #102
@edunham What is the standard way of doing this? A cron job would work, but this seems so basic that there must be some better way.

[2015-08-28 16:10] edunham commented on #102
Cron is the right solution for running a task on a fixed schedule, so few
config management tools reinvent it.

Salt should differentiate between a package's latest version and some
specific version. We could run a salt state through cron to update those
packages which should be latest without accidentally updating anything
which needs a set version.
On Aug 28, 2015 8:12 AM, "Jack Moffitt" <notifi

[2015-08-29 04:17] jdm opened #104 "Add rust-freetype to homu"

[2015-08-29 16:16] #104 closed

[2015-09-22 15:07] aneeshusa commented on #102
Salt has separate pkg.latest and pkg.installed states, so if you know which packages should be updated it's possible to change those to pkg.latest and version pin the rest. Then, running state.highstate again will run the necessary updates, and that can be done from cron or manually.

[2015-10-04 19:58] jdm opened #124 "Killing servo processes doesn't always work"
From http://build.servo.org/builders/linux-rel/builds/367:

[code]

[2015-10-05 19:51] metajack commented on #124
Some initial Googling didn't turn up any results for pkill hanging. Hopefully this isn't going to happen often.

[2015-10-28 16:08] aneeshusa opened #140 "Enable testing Android states on Travis"
Android states are currently disabled on Travis because resource limits cause them to be flaky. See https://github.com/travis-ci/travis-ci/labels/android.

[2015-10-28 16:08] aneeshusa commented on #87
Vote to close via #97.

Android doesn't work yet on Android yet, but I made #140 for that.

[2015-10-28 16:15] #87 closed

[2015-10-30 14:59] Manishearth opened #142 "buildbot-master needs python3"
Homu only works on a python3 toolchain. Our salt configuration does not autoinstall this.

Homu worked so far because it somehow had a python3 virtualenv with everything it needed, without a global install of any of the python3 tools.

Specifically, we need:

[code]

We can do the former with a `- require: - pkg: ` key in `homu.sls` somewhere.

I'm not sure how to indicate a pip3-specific dependen

[2015-10-30 16:10] edunham commented on #142
We might run into https://github.com/saltstack/salt/issues/5494 with Salt. One workaround would be to create the virtualenv, with the flags telling it to use python3, through a shell command.

[2015-10-30 19:49] Manishearth commented on #142
Huh. It worked for us, the current salt configuration just says "virtualenv.managed, but use the binary called `virtualenv3.4`" and it works

[2015-11-02 21:59] metajack commented on #124
cc @edunham

[2015-11-02 22:00] metajack commented on #124
We had to turn this off because it kept happening. See https://github.com/servo/saltfs/pull/146

[2015-11-04 17:11] aneeshusa opened #151 "Wiki/Docs for contributing"
The current README says to check the wiki for information on tutorials and contributing, but it looks like the wiki has been disabled. I have a few things I'd like to write up (such as how to use Vagrant, how to invoke Salt, etc.) so can the wiki be re-enabled? Alternately, I can start a CONTRIBUTING file, but I'm worried it will get longer and harder to navigate over time.

[2015-11-04 17:12] Manishearth commented on #151
We usually keep everything on the main wiki, e.g. https://github.com/servo/servo/wiki/Buildbot-administration

[2015-11-04 17:28] aneeshusa commented on #151
OK, sounds good! The making changes directly on servo-master.servo.org has me slightly worried :stuck_out_tongue_winking_eye:, but I'll see what I can do about updating the docs.

[2015-11-04 18:13] #151 closed

[2015-11-06 04:20] aneeshusa commented on #140
Closed via #145.

[2015-11-06 04:20] #140 closed

[2015-11-20 06:03] rilut commented on #99
@Ms2ger do this need help? May I do it?

[2015-11-20 13:24] Ms2ger commented on #99
Go for it! The code is at <https://github.com/servo/saltfs/blob/54a23126c819ddcbfccbee4a3289d31df8bc852d/buildbot/master/master.cfg#L35>; it should be a single multiline string, using python's string formatting (`%s`) to fill in the keys.

[2015-11-21 17:12] aneeshusa opened #165 "Workflow for upgrading Salt"
Homebrew has packaged Salt 2015.8.1 so I'll put in a PR to update the pinned salt version soon. However, upgrading Salt requires some extra care for two reasons:
  1. It's best to restart the service when the package is updated to keep the installed and running versions in sync, but restarting a master or minion service will interrupt an ongoing highstate.
  2. [Masters need to be updated before m

[2015-11-24 00:56] aneeshusa commented on #165
Blocked on https://github.com/saltstack/salt/issues/29098.

[2015-12-11 13:46] edunham opened #172 "Buildmaster API needs a password"
Could be possible to trigger arbitrary builds right now.

[2015-12-11 14:00] metajack commented on #172
It has one I'm pretty sure. Check the config and secrets file.

[2015-12-11 14:15] Manishearth commented on #172
The force build button is still visible here without being logged in. http://build.servo.org/builders/linux-rel

[2015-12-14 06:21] Manishearth opened #174 "Travis broken due to version issue"
https://travis-ci.org/servo/saltfs/jobs/96681145

[code]

cc @aneeshusa

[2015-12-14 07:05] aneeshusa commented on #174
I was actually planning to move to 2015.8 soon (i.e. #165) but it looks like 2015.5 has been updated in the meantime. I'll put in a PR today to bump the minor version for now to get CI working again.

Also, it looks like they are now keeping archives of previous versions on their repository with the newest update (something I was waiting for [https://github.com/saltstack/salt/issues/29098]), so we

[2015-12-15 03:50] #174 closed

[2015-12-19 22:31] Ms2ger opened #179 "Serialize try and non-try jobs"
I think running those in parallel might be what's causing homu to get confused.

[2015-12-19 23:02] Manishearth commented on #179
I think the confusion wasn't due to this; it was because homu got restarted just at the same time it got some build results from buildbot, tainting its status forever in the build db.

(I tried to fix this by manipulating the pulls db, I should have tweaked the build db instead)

[2015-12-19 23:03] KiChjang commented on #179
How does this "restart" happen? Is it a normal workflow that homu goes through, or is it due to user interaction?

[2015-12-19 23:04] Manishearth commented on #179
User interaction. When pulling in a new config or something

[2015-12-19 23:08] KiChjang commented on #179
So in other words, whenever we pull a new config, we'll have to make sure the following happens:
* Stop any builds that are current
* Comment on the PR related to the build about the stoppage
* Update the build database
* Pull in the new config
* Resume and message all outstanding builds

[2015-12-19 23:10] Manishearth commented on #179
Well, usually I try to update the configs when there are no builds, or when there's no chance of a build notification, in case something like this happens.

It's a bit hard to stop current builds since homu will just go on to the next one.

[2015-12-20 00:57] metajack commented on #179
I've asked @barosl for a feature to pause homu several times. Maybe someday we'll get that. For now you pretty much need to stop the service to stop it progressing builds, but then all the build notifications are dropped on the floor.

[2015-12-20 01:09] Manishearth commented on #179
I've never looked at the homu code around this, but I probably could implement it; doesn't sound hard. If we're adding this might as well also add a treeclosed state which closes the tree for everything with p<10000 or something (for rustups and stuff)

[2016-01-04 15:38] aneeshusa opened #185 "servo-linux1 machine"
It looks like [it's been removed from the wiki](https://github.com/servo/servo/wiki/Buildbot-administration/_compare/8dfa5da15248a2a2da7b60702b7729085ab69e42); is this machine no longer being used? If so, it should be cleared from the .travis.yml and top.sls files, and the wiki should be updated to not use it as an example.

cc @larsbergstrom (since you made the wiki edit)

[2016-01-04 18:59] larsbergstrom commented on #185
@aneeshusa Yes! With the move to EC2, it has been reclaimed. Will do.

[2016-01-04 19:03] larsbergstrom opened #186 "Problems with setting up the msttfonts on linux"
We moved EC2 builders this past week, and had problems with the MS TT fonts installer again. The relevant install lines appear to be here:
https://github.com/servo/saltfs/blob/master/servo-dependencies.sls#L10-L19

What seems to have happened (from looking at the failing machine) is that the mscorefonts-eula was set to `False` rather than true before the installation of the package happened, and s

[2016-01-04 19:03] larsbergstrom commented on #32
All done now! We are using the Rust nightly builds.

[2016-01-04 19:03] #32 closed

[2016-01-04 19:04] larsbergstrom commented on #57
This has landed and is used here: https://github.com/servo/saltfs/blob/a72201acc85d6ef2658e20c437a85c062b858cb0/buildbot/master/master.cfg#L74

[2016-01-04 19:04] #57 closed

[2016-01-04 23:52] #185 closed

[2016-01-06 02:32] aneeshusa commented on #186
How can I tell if the fonts are properly installed? I checked it out in a Vagrant VM and it seems to work OK: the fonts are getting downloaded and placed into /usr/share/fonts/truetype/msttcorefonts, and it looks like the debconf selection is getting set properly.

[2016-01-06 02:37] aneeshusa opened #189 "License"
This repo has a fair amount of code in it, it would be a good idea to properly license it.

[2016-01-06 03:49] metajack commented on #186
When it fails nothing is created in /usr/share/fonts/truetype but no errors are reported and the debconf selections are all fine. You can look at the salt log in AWS boot or on the build machines for its details, but not much is reported there other than it successfully installed the package.

[2016-01-06 11:55] aneeshusa commented on #186
Hmm, interesting. I thinking looking at the logs will be important to figure this one out, but I don't want to just put them in a Gist or Pastebin. Would you be comfortable giving me SSH access to these machines? Also, which machines (hostnames) had this problem?

[2016-01-08 14:43] larsbergstrom opened #190 "Consider moving to reserved EC2 instances?"
cc @edunham @metajack

We're finding that, particularly after any network hiccups, buildbot is really bad about spinning up a new EC2 latent instance. I also can't figure out how to connect one - if you do the obvious thing of spinning one up and starting buildbot on it, you get an error because the master is not in the process of starting it up (the only time when the latent ones can connect). An

[2016-01-08 14:43] larsbergstrom commented on #189
I'm thinking just the usual Apache/MIT dual license. Does that sound good to you, @edunham @metajack ?

[2016-01-08 14:45] larsbergstrom commented on #186
Sure! I'd be happy to give you access to ssh in. You can open a PR like https://github.com/servo/saltfs/pull/184 to try it out.

IIRC, it happened to our EC2 "linux2" builder. I can give you that IP after we have your ssh key installed. Alternatively, I can also log in there and retrieve any logs that you need.

[2016-01-08 14:45] larsbergstrom commented on #186
Also, if it matters, I've noticed that if I `highstate` that box, I sometimes get:
[code]

[2016-01-08 17:07] metajack commented on #189
:+1:

[2016-01-08 17:09] metajack commented on #190
I'm not sure what changed, but this seems like it used to be much more reliable.

I'm not opposed to reserved instances (I assume for 1yr periods), but this is likely to make our AWS bill quite a bit higher potentially.

[2016-01-08 17:09] metajack commented on #190
Or in other words, my only objection would be financial. If it fits in budget, let's do it.

[2016-01-08 17:29] #189 closed

[2016-01-12 16:23] metajack opened #196 "build.servo.org TLS not working"
Firefox shows it as insecure

cc @edunham

[2016-01-13 13:53] larsbergstrom commented on #190
@metajack Do you remember what the speed difference was between c4.4xlarge and c4.2xlarge? Should we re-run some tests? The 2xlarge is a little under half the price of 4xlarge, and before we do some reserved instances, I was just curious how much time it's saving us on our runs :-)

[2016-01-13 17:06] metajack commented on #190
We should definitely do this ASAP.  Perusing the buildbot bug tracker it looks like these issues have been known and unfixed for 5 years, and also that slave attach and detach is non-atomic and has all sorts of bad edge cases as a result. Moving to reserved instances would eliminate slave churn and probably get rid of all the trouble.

Here's what I think should happen:

1. Some script that will l

[2016-01-14 16:43] metajack commented on #190
@larsbergstrom I don't think I ever did tests. I did try various `--processes` values for running wpt and css tests which is where most of the speedup was gained with many cores.

[2016-01-17 11:39] Ms2ger opened #199 "Set up disk use monitoring"
Preferably alerting to `#servo`

[2016-01-23 17:12] frewsxcv opened #201 "Add rust-fnv to homu"
https://github.com/servo/rust-fnv

[2016-01-25 18:38] jdm opened #202 "Attach BuildTimeTrend to the builders"
http://buildtimetrend.github.io/service/

We have this [hooked up](https://buildtimetrend.herokuapp.com/) to our TravisCI builds right now, but that information is less clearly actionable/meaningful than the build time data for our actual builders. [The documentation](http://buildtimetrend.github.io/python-client/) suggests there are a couple ways to go about this, either using Keen.io or storing

[2016-01-30 19:07] frewsxcv opened #204 "Add gaol to homu"
https://github.com/servo/gaol

[2016-02-01 11:41] #204 closed

[2016-02-01 11:41] #201 closed

[2016-02-01 14:10] larsbergstrom opened #207 "Add unattened upgrades configuration to our salt scripts for ubuntu machines"
There are some instructions here:
https://help.ubuntu.com/community/AutomaticSecurityUpdates

The interesting bit is probably not just turning on / automating it via salt, but also adding some of the extra bits (like autoreboot). I think I'd rather auto-reboot and risk requiring user intervention (via `exception slave lost`) than leaving an unpatched server on a public IP.

[2016-02-01 17:30] larsbergstrom commented on #190
OK, I've done #1 and #2 from jack's steps above. It looks like getting some 4xlarge instances would save a ton of money, not cost much time, and also leave room for adding more of them as we add more tests. But we can also just get the 8xlarges reserved, too :-)

Price info is from https://aws.amazon.com/ec2/instance-types/, assuming we stay with US-WEST-2.

Raw data below:
# c4.8xlarge (36vCPUs,

[2016-02-01 17:34] larsbergstrom commented on #190
Here's our usage data for the last two weeks on the linux builders w/ on-demand usage. Note that we're still having a LOT of trouble getting it to spin up a second builder reliably, so the 23/24/25 hour usage days are probably underrporting what we would have used if things were working properly.

1/19/16 - 24
1/20/16 - 15
1/21/16 - 36
1/22/16 - 11
1/23/16 - 9
1/24/16 - 4
1/25/16 - 25
1/26/16 - 32

[2016-02-01 19:57] larsbergstrom commented on #190
One extra note - the default Ubuntu 14.04 images on amazon only have 7.5GB, which is *barely* enough for a single-flavor Servo build. The image brought over from Daala has ~400GB, which seems sufficient for our several different flavors/builds that each of the images bring up (a casual inspection of one of the builders being shared across targets showed about 55GB free).

[2016-02-01 21:32] larsbergstrom opened #208 "The new ssh key stuff doesn't handle using Administrator on the macs"
I think this patch did not work:
https://github.com/servo/saltfs/commit/c2ae361d98efcb2812c9f89ba36dc1d7d375eb34

CC @aneeshusa

The root user on the macs is Administrator,.

[2016-02-02 02:15] aneeshusa opened #209 "Use Jinja templating for config file paths"
This will help prevent issues like the one fixed in  #203.

[2016-02-02 02:26] aneeshusa commented on #208
What isn't working about them? My SSH key was only added to this repo recently but I'm able to login to the Macs, and my ssh key shows up in the /var/root/.ssh/authorized_keys file.

[2016-02-02 13:09] larsbergstrom commented on #208
@aneeshusa

Aha! How curious - I can ssh in as `root@` to the macs now. Before this, I'd always been logging in as `administrator@`. So, I think this works fine, I just need to learn to use the root account instead of administrator to log in.

[2016-02-02 13:09] #208 closed

[2016-02-02 13:10] larsbergstrom commented on #208
I've updated https://github.com/mozilla/servo/wiki/Buildbot-administration to mention that you should log in as `root`, not `administrator` to the OSX boxes now.

[2016-02-02 13:47] larsbergstrom opened #210 "Need to `brew link --force openssl` on OSX"

[2016-02-02 17:07] aneeshusa commented on #210
Oops, I didn't read very carefully and thought this was for autoconf, accidentally set this to close once #211 is merged.

[2016-02-03 13:52] larsbergstrom opened #212 "Investigate OSX client perf"
Below are some notes on raw OSX builder performance, comparing our mac minis with a mac pro. HUGE improvement on test-css and some improvement on test-wpt/compile.

servo-mac3 (mini), mac-rel-css
compile (./mach build --release) 16min, 30secs
test-css (./mach test-css --release --processes 4 --log-raw test-css.log) 29min, 29secs

servo-mac2 (mini), mac-rel-wpt
compile (./mach build --release) 15mi

[2016-02-03 13:53] larsbergstrom commented on #212
Filed https://github.com/servo/servo/issues/9513 for a pretty obvious big perf win for our OSX testing.

[2016-02-04 21:46] larsbergstrom commented on #190
We decided to pay for a full year upfront. The hourly cost for that is $0.526. With half up front, the cost is $0.537. Nothing up front is $0.621, on a c4.4xlarge

Note that we currently pay $2.098/hour for our on-demand c4.8xlarge

[2016-02-04 22:17] larsbergstrom opened #215 "Alternatives for multi-platform CI support in servo/servo"
Today, we have a default strategy for each new platform or build configuration in the servo/servo repository - add new buildbot rules and rebalance those rules across a new set of builders we spin up.

That has a couple of issues:
1) Editing buildbot rules and deploying them is something that really only core CI maintainers can do, since it requires root access and the ability to "deal with meltdo

[2016-02-04 22:36] #190 closed

[2016-02-04 22:42] jdm commented on #215
I am in favour of using other services here. I am not particularly concerned about service outages right now, because:
*  the ones we would be relying upon are run by organizations that have commercial interest in minimizing downtime
* being unable to land PRs for some bounded period of time does not have any real impact on the project until we have actual releases and deadlines

[2016-02-04 22:43] jdm commented on #215
That being said, we wouldn't have the ability to log in to the builders like we do with our own, would we? That might impact our ability to reproduce certain failures.

[2016-02-04 23:58] Manishearth commented on #215
I really like the solution of adding appveyor/etc support since a lot of our CI problems would just disappear. I'd like to see how well appveyor pans out before committing to it (if we plan to pay them for something, that is).

I'm really okay with the "editing buildbot is hard" thing, though (we don't need to edit these much). My main concern is the time sink that might get created if we have to

[2016-02-05 00:59] larsbergstrom commented on #215
@jdm It appears that AppVeyor allows you to RDP (the Windows version of VNC) into the servers - http://www.appveyor.com/docs/how-to/rdp-to-build-worker

@Manishearth I'm probably more worried about the "editing buildbot is hard" thing because I feel like each time we add another builder it doubles in likelihood-to-go-boom. Adding more platforms is definitely going to make things even worse :-/

I'

[2016-02-05 05:27] jdm opened #216 "Run new test-compiletest harness on builders"
Currently we only run on travis, so our merges don't gate on the testsuite passing.

[2016-02-05 18:34] larsbergstrom opened #217 "Set up log removal on buildbot master"
The buildbot manual (http://docs.buildbot.net/0.8.1/full.html) recommends rules like:

[code]

I couldn't quite make this work (the `i-path` thing to exclude public_html kept giving me errors). I also think we should do 5 days instead of 2 weeks, as we don't have *that* much disk space :-)

We ran out of disk again today, though luckily it was during normal working hours, so nobody had to do a lat

[2016-02-05 18:34] larsbergstrom commented on #217
owait, there's already a PR; will comment there...

[2016-02-05 18:34] #217 closed

[2016-02-06 02:40] larsbergstrom commented on #210
I removed the closes line from the other PR :-)

[2016-02-06 03:12] aneeshusa commented on #210
Well, I also put a closes line in the commit message. Yay for thoroughness?

[2016-02-08 17:15] #210 closed

[2016-02-08 19:37] edunham commented on #215
I agree with @jdm regarding outages -- for now, having Windows test results sometimes will be better than never having them, and if Appveyor turns out to be down a lot we can look at moving the tests to our own infrastructure or teaching Homu to ignore failures from tests attempted on unreachable platforms.

I can see this potentially causing some confusion about where to put a given piece of test

[2016-02-09 14:42] aneeshusa commented on #215
For the Windows builds, I agree that unless we have someone with significant Windows + buildbot experience, I think it makes more sense to let AppVeyor handle Windows builds.

For the ARM builds, it looks like the servo-nightly repo @larsbergstrom linked is cross-compiling for ARM. If so, I'd prefer integrating an ARM cross-compile flow into the Buildbot flow instead of adding Travis as another ex

[2016-02-09 14:46] Manishearth commented on #215
Yeah, we now have EC2 reserved but can spin up more (EC2 on-demand IIRC?) instances if we need.

[2016-02-09 14:47] aneeshusa commented on #199
Salt's [reactor system](https://docs.saltstack.com/en/2015.5/topics/reactor/index.html) is probably the easiest way to do this.

[2016-02-09 15:31] larsbergstrom commented on #215
We're moving to EC2 as much as we can (EC2 auto-bills to Mozilla - I have to use my personal CC for linode, which Finance frowns upon). The smaller builders will be easy to move soon, but the actual salt master is going to be a bit of a nightmare. It'll get a new IP, we'll need a new mapping for build.servo.org, and I expect our whole CI to basically be offline for a day when we do it as DNS entri

[2016-02-09 15:41] aneeshusa commented on #215
Heh, paying off technical debt is never fun. If you give me a heads up I can try to be around (on IRC I guess) for the transition. Also, I'd recommend not doing a clean cutover but phasing it using [Salt multimaster](https://docs.saltstack.com/en/latest/topics/tutorials/multimaster.html) to add the new master first, confirm functionality with a deprecation period (leave any webhooks running and ch

[2016-02-11 21:24] #142 closed

[2016-02-13 03:59] 2015xli opened #221 "Helps on the build issue on Mac OS X"
### I searched in the issue list, and it was suggested to be autoconf linking problem and that issue was closed. Tried to follow the suggestion there (https://github.com/servo/servo/issues/9504), did not succeed. Don't know if it is the same problem or not. Helps are appreciated.
#

cd /Users/xli/GoogleDrive/2015xli@gmail.com/temp/git/servo/target/release/build/harfbuzz-sys-14497f51d6b45da3/out &&

[2016-02-13 05:11] jdm commented on #221
@nhirata suggested in #9612 that `brew install gtk-doc` will solve this.

[2016-02-15 03:11] paulrouget commented on #221
That's surprising.

Maybe it's the missing `autoheader` issue.

@2015xli any error about autoconf and/or autoheader?

[2016-02-16 05:33] 2015xli commented on #221
Thanks for the helps. I am continuing to check the problem, and will update the progress here.

@jdm  gtk-doc does not help my case.

@paulrouget It may be related to autoconf/autoheader. I have not identified the root cause yet.

[2016-02-17 00:25] nhirata commented on #221
FYI, I was able to compile in my case.  I had the same error :
"You will not be able to create source packages with 'make dist' because gtk-doc >= 1.15 is not found."

see: https://github.com/servo/servo/issues/9612

[2016-02-17 00:29] nhirata commented on #221
Oh.  I did want to mention after installing both, I did have to fix my autoconf link.  I had to relink my autoconf doing a little search for autoconf and the link it was looking for and relinking it with brew.

[2016-02-21 04:46] aneeshusa commented on #99
This can be closed since #164 is merged.

[2016-02-21 09:41] #99 closed

[2016-02-24 01:41] frewsxcv opened #224 "Register webrender_traits and webrender with Homu"

[2016-02-24 14:00] #224 closed

[2016-03-04 18:35] larsbergstrom commented on #215
Now that AppVeyor support has landed in master (https://github.com/servo/servo/pull/9863) and we've got the build times down to ~30 minutes, I'm very tempted to just fix the homu bugs to get things running.

[2016-03-08 15:55] larsbergstrom opened #238 "Vagrant on Linux failing to load due to permission error with the minon file?"
@aneeshusa Do you have any idea why this might be failing when I attempt to `vagrant up` a new machine and how to fix it?

[code]

[2016-03-08 16:32] larsbergstrom commented on #238
Aha! Looks like this is a problem with newer Vagrants:
https://github.com/mitchellh/vagrant/issues/5973

[2016-03-08 16:48] larsbergstrom commented on #238
s/newer/older. Ubuntu installs 1.7.4 Vagrant, but #180 moved us to 1.8.0. So this is user error on my part!

[2016-03-08 16:48] #238 closed

[2016-03-08 18:10] aneeshusa commented on #238
Thanks for updating the wiki, I totally meant to add that after the PR landed but forgot! This bug was definitely a thorn in the side for a while.

[2016-03-08 18:11] larsbergstrom commented on #238
No problem! It was actually somewhat fortunate, as I wasn't in a huge rush today and it forced me to learn a lot about how Vagrant works :-)

[2016-03-09 00:29] aneeshusa commented on #196
Did this ever work? The nginx config in `nginx/default` has only ever listened on port 80, without `ssl on`.

[2016-03-09 01:04] edunham commented on #196
Cloudflare (account credentials are with the salt pillar backup) isn't currently enabled for build.servo.org. In other words, we've never had HTTPS on the buildbot instance. Turning cloudflare on would encrypt from the CDN to the end user but with the current setup, traffic would still be non-encrypted from Buildbot to the CDN.

I'll also get to this in going through the security team's infrastruc

[2016-03-11 03:09] aneeshusa opened #242 "Tweak RAM allotment for Vagrant VMs"
The Vagrant machines have a dual usage: not only are they used to check that the Salt states run successfully, but they're also used to actually try to build Servo to make sure the Salted configuration is correct. For the first use case, it's nice to be able to just `vagrant up`, and see that all the machines successfully came up, so right now the Vagrantfile has 1 GB / VM or 4 GB total, which is

[2016-03-11 03:16] aneeshusa commented on #242
https://www.virtualbox.org/manual/ch04.html#guestadd-balloon might be useful for this.

[2016-03-11 03:18] aneeshusa commented on #242
https://www.virtualbox.org/manual/ch04.html#guestadd-pagefusion may also help to decrease memory usage.

[2016-03-11 16:29] larsbergstrom commented on #242
Do you want to actually land this or wait and just have people do this one-off instead? I do worry that it'll make it hard for people on less-massive machines to do a full `vagrant up` without getting things killed.

[2016-03-11 20:50] aneeshusa commented on #242
Right now, I'd like to wait and just do a one-off when needing to try to build Servo; I find this happens a lot less than `vagrant up`. The best thing would be if you could just add RAM on the fly to a single machine (e.g with a Virtualbox or Vagrant command), but apparently this can't be done.

[2016-03-11 21:19] aneeshusa commented on #242
2 ideas:

 - Define 2 VMs for each node type in the Vagrantfile: one with 1 GB that comes up on `vagrant up`, one with 4 GB that doesn't autostart, with a `-bigmem` suffix. Use the first set regularly, but be able to use the second set to debug Servo build failures. This is easier to implement, but has the disadvantage that if `vagrant up` is successful, you need to sit through provisioning again

[2016-03-11 21:45] larsbergstrom commented on #242
I think I'm actually OK with just leaving it at 1GB. All of the provisioning-related stuff on Linux will be tested by a build, even if it fails near the end (when rustc is compiling the script crate). By then, we'll have touched all of the compilers, installed system libraries, etc. and are in the final end run on Rust code.

I only really cared here because I also wanted to confirm that the linke

[2016-03-11 21:45] larsbergstrom commented on #242
@Manishearth @edunham Do you have an opinion here?

[2016-03-11 23:21] edunham commented on #242
It sounds to me like 1GB of RAM is fine for a majority of cases, and leaving it as the default will create a better first experience for people on older hardware trying to help out with the project than increasing it.

I agree that documenting how to increase RAM when needed in the wiki would be a good idea. Right now the README links into https://github.com/servo/servo/wiki/Buildbot-administratio

[2016-03-11 23:30] aneeshusa commented on #242
For now, I'll add info about how to edit the Vagrantfile to add memory; it sounds like this won't be too inconvenient after getting documented.

@edunham The Vagrant info actually is on the page, in this section:  https://github.com/servo/servo/wiki/Buildbot-administration#making-changes. Do you have suggestions about how to re-organize the page to make this information easier to find?

[2016-03-11 23:39] edunham commented on #242
@aneeshusa I skimmed the page for a section heading looking like 'vagrant' or a block of Vagrant commands. I've edited the page to make the correct instructions easier to spot. Sorry about that!

[2016-03-15 02:53] aneeshusa opened #252 "Trim down the symlinks to ARM cross-compilation binaries"
We use cross-compilation to test ARM32 and ARM64 builds. However, the target triples differ between the installed packages, rustc, and build scripts, so we create a symlink farm in `/home/servo/bin` that points to the installed binaries to provide the right names. Currently, we create symlinks for almost every binary installed (see the `binaries` variable in [arm-dependencies.sls](https://github.c

[2016-03-15 12:28] strogonoff commented on #252
Click on I’m Feeling Adventurous brought me here, so that must be working.

[2016-03-15 13:25] larsbergstrom commented on #252
The steps that you mentioned in the buildbot config are definitely the best instructions! The trickiest bit is making sure that all of the environment variables are set up correctly, but after that, the build should just go through.

Thanks for opening this, @aneeshusa!

[2016-03-15 14:45] Manishearth commented on #252
An alternate way to do this (more involved, but quicker) would be to use a binary that logs its use (simple executable shell script that calls the real binary would do) instead of a symlink. Alternatively, run the whole thing under strace and grep for `/home/servo/bin`

[2016-03-17 15:44] larsbergstrom opened #256 "Sync GitHub Servo organization groups with saltfs reviewers?"
Right now, the GitHub Servo org has a somewhat ad-hoc list of groups and group membership that is overlapping but not entirely in sync with the saltfs reviewers.

In particular, we have an admins group from "the old days" when admins existed plus a developers group which has now-interchangeable permissions, but was separate because admins used to be owners back in the day.

There are also owners,

[2016-03-22 13:20] aneeshusa opened #264 "Use Salt gitfs to keep master synced with repo"
Docs: https://docs.saltstack.com/en/2015.5/topics/tutorials/gitfs.html

Salt has a built-in backend that uses a git repo (such as this one) to provide the files in the /srv/salt tree (the fileserver).

We should use it instead of manually `git pull`ing on the master.

[2016-03-22 15:18] metajack commented on #264
+1

Is this feature new? I don't remember seeing this back when we set this up.

[2016-03-22 15:35] aneeshusa commented on #264
This has been around for a long time, although I'm not sure exactly when it was added (at least as old as `2014.7`, possibly as old as `0.16.3` based on a quick skim of the docs).

I'm not yet sure about how this would interact with the workflow of iterating on changes directly on the master.

[2016-03-24 16:21] edunham commented on #172
OK, now that that's deployed... Saying 'True' rather than 'auth' for all actions meant anybody could force and kill builds, regardless of login status. @metajack was correct that a password was set, but the prior config missed the step of testing whether or not the user was authed before allowing all actions.

[2016-03-24 16:21] #172 closed

[2016-03-24 17:01] larsbergstrom opened #275 "Need to set up linux boxes to auto-update to stable packages"
I currently run `sudo dpkg-reconfigure --priority=low unattended-upgrades` on new Linux machines by hand (it has a GUI popup). Presumably there's a better way to set this up to happen automatically.

[2016-03-24 22:49] aneeshusa commented on #275
FYI, this is your third dupe of this issue :wink:
See #207 and #102.

I will say that I've never been a huge fan of automatic updates (see also: left-pad), preferring pinning + manual updating (possibly with automated rollout), but this is probably safe.

[2016-03-24 23:41] larsbergstrom commented on #207
Better info in #275

[2016-03-24 23:41] #207 closed

[2016-03-24 23:41] larsbergstrom commented on #102
Better info in #275

[2016-03-24 23:41] #102 closed

[2016-03-24 23:43] larsbergstrom commented on #275
@aneeshusa HA! Great catch. I keep using different words and never see it.

I tend to open these when I log into a machine and see "147 security updates needed," which always freaks me out. I'd personally like to have at least something basic that will get us security updates, even if it means we might left-pad our CI infra one day rather than leave machines unpatched or rely on manual updating.

[2016-03-24 23:57] aneeshusa commented on #275
Something else that might help is auditing the packages that are installed; I just checked `servo-master` and I'm seeing around 800 packages. This is something that traditional CM systems like Salt aren't so good at. For us, a simple `pkg.purged` state with a long list of `pkgs` will do, but better solutions (longer-term) would be starting from a more minimal Ubuntu image,  or using [NixOS](https:

[2016-03-25 00:01] larsbergstrom commented on #275
I definitely agree! The `servo-master` machine is particularly bad, and I'm glad (though also terrified!) that @edunham and I plan to burn it down and rebuild with salt from scratch.

I believe that it's extra bad because in the dark, dark early days we all did our testing and part of our CI development directly on that machine. It's also survived major transitions (e.g., from the "bors" autolande

[2016-03-25 00:06] aneeshusa commented on #275
Well, `pkg.purged` will ensure those packages don't exist, so we would need to list any packages that we don't want installed (e.g. extra packages in the base image we're using). It's not perfect, but it should do for now.

As I mentioned in #215, look into using Salt multimaster to manage the `servo-master` transition; I'd also recommend setting up the new gitfs based configuration on a new maste

[2016-03-26 12:36] aneeshusa commented on #186
@larsbergstrom @edunham Did you run into this when setting up the new cross builders? Also, do you know if that was before or after #250 landed? If you didn't hit any problems this time, I think we can close this issue for now.

[2016-03-27 00:48] larsbergstrom opened #280 "Investigations of failures to provision the ARM cross builders"
As noted in #274, we are failing to install the ubuntu packages 'g++-arm-linux-gnueabihf' & 'g++-aarch64-linux-gnu' in GCE.

Just now, I did an `apt-get upgrade` on the cross builders (as I noticed that they had failed to autoupdate) and got:
[code]

[2016-03-27 00:48] larsbergstrom commented on #280
cc @edunham @aneeshusa

[2016-03-27 00:48] larsbergstrom commented on #186
Confirmed that both of the cross builders provisioned with correctly-installed fonts. Thanks!

[2016-03-27 00:48] #186 closed

[2016-03-27 20:07] aneeshusa commented on #280
It's a known packaging bug: https://bugs.launchpad.net/ubuntu/+source/gcc-4.8-armhf-cross/+bug/1557205

Running the following appears to be the recommended temporary solution:
[code]

We can do this on the builders if we need to, but this would require some hackery to add to Travis. From what I understand from a Vagrant session we'd need to try installing and then run the command to fix the packag

[2016-03-28 17:40] edunham opened #281 "Move buildmaster from Linode to AWS (tracking issue)"
cc @larsbergstrom

### Async steps
- [X] remove Longview states from SaltFS, since they're strictly for Linode instances
    - https://github.com/servo/saltfs/pull/282 did this
- [X] Select appropriate size AWS instance for new master
    - According to Longview, current master CPU hits 24% of one core, memory stays under 4GB, and disk usage is around 13GB.
    - an `m3.medium` instance on AWS has

[2016-03-28 18:05] larsbergstrom commented on #280
@edunham and I chatted and we agree to just wait for upstream to fix it.

The main thing in the meantime is that we have to check the travis log failures carefully by hand.

[2016-03-28 19:29] aneeshusa commented on #281
We actually don't have instructions for setting up a Salt master yet, so I'll need to write those up and add them to the wiki (i.e. installing the right version of the right package).

Also, if you're trying to do this as a multimaster transition (which I recommend) then you'll need to first [list both masters in the minion configuration file](https://docs.saltstack.com/en/latest/topics/tutorials/

[2016-03-28 19:31] metajack commented on #281
The private google doc should have some possibly out of date instructions for setting up a salt master. I think it was mostly bootstrappable except for some minor things. Thought these days, we probably have things like minion keys that need to be dealt with. When I wrote the instructions I was doing a totally fresh master :)

[2016-03-28 19:56] aneeshusa commented on #281
I'd be interested in taking a peek at that doc purely out of curiosity :)

As for the DNS, the fact that Homu and nginx are running on the same box as the Salt master is just an artifact of our environment, and we shouldn't bake it into our configuration files. We should add a separate DNS entry for `salt.servo.org` (pointing at the new master, via A record not CNAME). In the case of multimaster,

[2016-03-28 20:04] larsbergstrom commented on #281
I think it was originally a private etherpad, and those servers have since been moved behind a firewall and then burned down (ether-pocalypse).

It's 9AM US Pacific time :-)

[2016-03-28 22:10] edunham commented on #281
@aneeshusa Thanks for the feedback!

I just checked the secrets doc and it does not currently contain any setup instructions for the build master.

How much of the master setup can we do through Salt itself?

[2016-03-28 23:46] aneeshusa opened #283 "Configure Homu as a first-class GitHub application"
Currently, we have one shared webhook that must be manually handed out and configured to add a new repo, and we have to update the Salt states.

At the very least, we should be generating per-repo tokens so each repo gets a different webhook. Ideally, we would register Homu as a Github application so this is automated and doesn't require sending a PR to this repo to add a new repo.

This will like

[2016-03-29 00:19] aneeshusa commented on #281
Master setup:

For now, I just plan to create a script to install the correct `salt-master` package. Setting up the configuration file and start the corresponding service can be manual for now, as it is for setting up a new minion (although Salting this is on my todo list).

More complicated setup is IMO not worth automating right now; e.g., keeping the list of accepted minion keys in sync would w

[2016-03-29 01:59] Manishearth commented on #283
Yeah, I've wanted to do this for a while. In theory it shouldn't be too hard. Homu already maintains its own database, the issue is that the database isn't required to be persistent. So deleting the database works fine (usually), and is sometimes something I've done (with backup) to bring homu back to a consistent state. This also means that if servo-master gets moved, homu would have to sync all

[2016-03-29 11:15] aneeshusa commented on #281
Salt minion IDs are meant to be unique, so we should follow the convention instead of trying to reuse the `servo-master` ID, as it will cause trouble when running with two hot masters. Here's my new thinking:

New steps (we should do these before bringing up the new master):

 - Amend the top file so that the `servo-master` section is amended to `servo-master\d+` in order to handle multiple master

[2016-03-29 19:57] edunham opened #286 "error in servo-dependencies"
[code]

https://github.com/servo/saltfs/blob/master/servo-build-dependencies/init.sls#L3 is where it comes from and https://docs.saltstack.com/en/latest/ref/states/all/salt.states.pkg.html has useful information about how the saltfs pkg state works

[2016-03-29 20:25] edunham commented on #281
@aneeshusa The production salt setup is now dual-master. They're `servo-master0` (the old linode host) and `servo-master1` (the new AWS host). I've sftp'd all the secrets and master configs over, and they both yield identical ping and highstate results except that `servo-master1` isn't aware of a few decommissioned hosts like `servo-head`.

I believe this covers our bases for a smooth transition o

[2016-03-30 16:32] edunham commented on #281
Everything (http://servo-master1.servo.org/homu/queue/servo == http://build.servo.org/homu/queue/servo, http://servo-master1.servo.org/buildslaves == http://build.servo.org/buildslaves) appears to be working correctly. https://github.com/servo/servo/pull/10285 shows that webhooks are working.

[2016-03-30 16:39] aneeshusa opened #287 "Don't hard-code /etc/hosts entries"
The `common/init.sls` file adds a lot of entries to `/etc/hosts`. We should use DNS for name resolution instead.

@edunham reminded me of this by mentioning 'messy hacks around not trusting DNS' in IRC, so if there are any other hacks we should get rid of those too.

[2016-03-30 16:41] larsbergstrom commented on #287
Yeah, @edunham ran into this during the move.

I think those predate her (awesome) move of us to CloudFlare and DNS self-management. It used to take a couple of days to get a DNS entry changed via internal corporate IT DNS management, so that's clearly not needed anymore :-)

[2016-03-30 16:45] aneeshusa commented on #287
I can't read my IRC client, it was @edunham that mentioned it! My apologies.

Did you run into any other issues during the move?

[2016-03-30 16:48] edunham commented on #281
The only surprise that I ran into was that in `/srv/pillar/buildbot.sls`, `master` was set to `servo-master`, which had an IP hardcoded in the hosts file from https://github.com/servo/saltfs/blob/master/common/map.jinja . Changing that setting to `master: build.servo.org` and re-running the highstate causes the slaves to look up the buildmaster with DNS rather than directly, and solved the problem

[2016-03-30 16:55] edunham commented on #281
We're shutting down `servo-master0` (the Linode host) at 5pm PST today. If you need logs from a build that happened overnight before then, substitute `servo-master0.servo.org` for `build.servo.org` in the URL to access them. After servo-master0 has been shut down, you'll have to rerun a build to get its results.

[2016-03-30 16:55] #281 closed

[2016-03-30 16:57] larsbergstrom commented on #281
:fireworks:

[2016-03-30 17:04] aneeshusa commented on #281
:clap:

I did run a `grep -r 'servo-master'` against the saltfs repo, but didn't think to check the pillars. We should remember to check the pillars for next time.

Does buildbot properly respect DNS TTLs/will it retry and reconnect if we change the `build.servo.org` DNS entry in the future?

We still list `servo-master` with the old IP on the wiki - can we update that?

Agreed on the Salt changes

[2016-03-30 17:09] edunham commented on #281
I don't know the details of how Buildbot handles TTLs, but kicking the buildslave processes seemed to cause them to repeat the lookup. So Buildbot itself probably isn't caching too hard.

Wiki updated. I'll open an issue to discuss migrating away from hardcoded IPs in `common/map.jinja` entirely.

[2016-03-30 17:11] aneeshusa commented on #281
Kicking buildbot should be good enough in that case.

Already opened an issue for `common/map.jinja` - see https://github.com/servo/saltfs/issues/287.

[2016-03-30 17:17] edunham opened #288 "Remove hardcoded IPs"
Follow-up from discussion in https://github.com/servo/saltfs/issues/281 .

We have a bunch of IPs hardcoded into `common/map.jinja`. This was useful when we had to manage DNS through Mozilla support tickets, but we control everything directly through CloudFlare now.

Todo:
- [ ] Remove the IPs from map.jinja
- [ ] Remove the states which add the IPs to the hosts file
- [ ] Test everything in Vagra

[2016-03-30 17:43] edunham commented on #288
Duplicate of https://github.com/servo/saltfs/issues/287

[2016-03-31 00:24] larsbergstrom commented on #215
This has been rolled out!

[2016-03-31 00:24] #215 closed

[2016-04-04 16:17] larsbergstrom commented on #76
We're no longer doing Cargo builds.

[2016-04-04 16:17] #76 closed

[2016-04-04 16:17] larsbergstrom commented on #70
We've upgraded our Travis instance types to be able to build them there.

[2016-04-04 16:17] #70 closed

[2016-04-04 22:08] edunham opened #296 "Tracking Issue: Salt-In-Salt"
It's come up a few times now that it'd be neat to manage our Salt configs using Salt itself. [this thread](https://groups.google.com/forum/#!topic/salt-users/NvjWnnvNkcw) indicates that there were unexpected complexities to such a task 2 years ago.

Examples of where salt-managed salt configs would be nice:
- https://github.com/servo/saltfs/issues/281
- https://github.com/servo/saltfs/issues/165

[2016-04-04 22:17] edunham commented on #165
@aneeshusa for the "document the workflow" part of this issue, I've moved the Salt docs into their own wiki page at https://github.com/servo/servo/wiki/SaltStack-Administration.

It looks like the Salt issue that this was previously blocked on is now resolved.

[2016-04-05 16:01] #280 closed

[2016-04-05 18:49] aneeshusa commented on #296
I personally use Salt to manage my own Salt configurations, and with small numbers of nodes the additional complexity is fairly low, so I'd recommend it for Servo as well.

I mentioned these in #165, but there are two main issues to be aware of:

- Updating our configuration should automatically restart the service to apply the updates, but this severs the master-minion connection and interrupts t

[2016-04-05 18:55] aneeshusa commented on #190
Does this affect the [buildbot restarting instructions](https://github.com/servo/servo/wiki/Buildbot-administration#dealing-with-troubles)? In particular, I believe there are no more on-demand EC2 instances so is using the "graceful shutdown" still necessary?

[2016-04-05 19:25] larsbergstrom commented on #190
@aneeshusa Thanks! I've cleaned up the instructions a bit and removed the bit about the latent builders.

[2016-04-06 16:03] larsbergstrom opened #302 "Set up Salt to configure a Windows buildbot machine"
It appears that there is a salt client:
https://repo.saltstack.com/#windows

We basically need to set it up per https://github.com/servo/servo/#prerequisites:
[code]

And run commands like:
https://github.com/servo/servo/blob/master/appveyor.yml

[2016-04-06 16:23] aneeshusa opened #303 "Use UTC Timezone"
This should be applied to all machines, so this should go into the `common/init.sls` file.

We can use the `timezone.system` state to configure a UTC timezone ([docs](https://docs.saltstack.com/en/2015.5/ref/states/all/salt.states.timezone.html)).

I think this would be a great E-Easy issue.

(A follow-up would be ensuring that NTP is on and configured on all machines, but there's no Salt state fo

[2016-04-06 18:09] aneeshusa opened #304 "Handle Buildbot restarting more robustly"
When updating the Buildbot configuration, we need to wait for Buildbot to not be executing any jobs before we can safely restart it.

See discussion in #300.

Apparently there is a way to just reload the Buildbot configuration instead of restarting it via `SIGHUP` or `buildbot reconfig`, but it's fragile, so I'd prefer not to do that: http://docs.buildbot.net/current/manual/cfg-intro.html?highligh

[2016-04-06 18:29] larsbergstrom commented on #304
That's correct - I'm not as worried about the builder machines (personally) as we don't change their configuration very often.

cc @edunham

[2016-04-06 21:03] larsbergstrom opened #306 "Something still wrong with our rust-bindgen setup"
When I attempt to hit synchronize on http://build.servo.org/homu/queue/rust-bindgen, I get:

[code]

I'm pretty sure that they added bors-servo as a collaborator, though! I'm one, too. Hrm, this is confusing...

cc @nox

[2016-04-06 21:03] larsbergstrom commented on #306
This is for the repository https://github.com/crabtw/rust-bindgen

[2016-04-07 15:33] aneeshusa commented on #304
A key component of a robust automated solution will likely involve waiting for Buildbot to not have any open jobs. A few questions:

- How long does it usually take to wait for Buildbot to not have any builds? Is it on the order of a few minutes, a few hours, all day? Is this latency likely to increase over time as we gain more contributions to Servo?
- Is there a way to inform Homu to stop sendin

[2016-04-07 17:13] aneeshusa commented on #304
Another consideration is that the Ubuntu machines (running Trusty) currently use Upstart for service management, but newer Ubuntu releases use systemd instead. It would ideal if the chosen solution is init-agnostic, or at least has minimal coupling.

[2016-04-07 19:05] aneeshusa opened #309 "Upgrade to Buildbot Nine"
Buildbot Nine is currently in beta (beta8 is due to be released in a week or so) and is getting close to a full release; we're currently running Buildbot Eight (0.8.12) and while not urgent, I'd like to upgrade when Nine is released. There are a significant number of changes in Nine, so it's not a drop-in replacement and we'll need to update our configuration.

I'd like to add more extensive (func

[2016-04-07 20:44] aneeshusa commented on #165
Great, closing since we've agreed on manual updates for now.

[2016-04-07 20:44] #165 closed

[2016-04-07 20:53] larsbergstrom commented on #264
If we don't have a local filesystem we can edit, what's the procedure for doing test `highstate` against the live system? There are a few pieces (e.g., the web hooks, buildbot, etc.) that we have no testing for and, in practice, I've needed to do and roll out 3 or 4 fixup tries before I actually get the original patch that was r+'d live.

cc @edunham

[2016-04-07 21:13] aneeshusa commented on #264
We can pass a command line flag to the `salt` command to point to a different configuration directory, which lets us set up test configurations that point at local files to use interactively. This way, regular `salt` commands continue to use the gitfs fileserver backend, and we can set up separate temporary directories for testing. I'd recommend putting such directories in `/tmp` so they don't sti

[2016-04-07 21:43] edunham commented on #306
@crabtw could you confirm that @bors-servo has write or admin permissions on your rust-bindgen repo?

[2016-04-08 00:25] Manishearth commented on #306
It needs more than that, it needs access to the push/comment/status webhooks iirc

[2016-04-08 00:42] crabtw commented on #306
@edunham bors-servo is in the collaborator list so it should have write permission.

[2016-04-08 04:05] metajack commented on #309
I'm not opposed to a discussion of alternative CI, but what options exist besides Jenkins? Buildbot and Jenkins seem the best things out there for self-hosted stuff, and having used both I'm not sure I would switch from one to the other in either direction.

[2016-04-08 13:52] larsbergstrom commented on #306
Hrm, I'm still getting:

[code]

@crabtw I really apologize for how long this has taken me to configure! This is the first time we've set up our homu instance to work with a repository that is not in a GitHub organization.

[2016-04-08 17:25] larsbergstrom commented on #309
I'd love to see a world where we can rely completely on externally-hosted services (e.g., Travis and AppVeyor), but there are two things preventing it:
1) They need to support *much* larger instance types. We use `c4.4xlarge` on EC2, which is way bigger than the GCE instances either of them have
2) homu needs better status reporting/integration of multiple services

So, I'm tempted to stick with t

[2016-04-08 19:44] jdm commented on #216
This bit us when we removed a rustc plugin but not the corresponding unit tests :(

[2016-04-08 19:57] asajeffrey opened #311 "Run etc/ci/check_no_unwrap.sh in buildbot"
Add `./etc/ci/check_no_unwrap.sh` to ` saltfs/buildbot/master/files/config/master.cfg`.

[2016-04-09 16:01] larsbergstrom commented on #304
I've had more luck with:
[code]
The only issue has been ensuring that it really is run as the correct user, which I think is *much* easier to do in Salt? This leaves around a process that will do a `SIGHUP` once the current job finishes, which I think is the most foolproof way to get the changes rolled out.

It usually takes about 45-50 minutes for a given job to complete. Our homu job queue is be

[2016-04-10 00:45] aneeshusa commented on #216
Which platforms do we need to run this on/is this platform agnostic? For example, can we run this only on the `linux-dev` builder, or should we be running this on all platforms - development, release, ARM, OS X, etc?

[2016-04-10 00:52] aneeshusa commented on #242
We've documented on the wiki how to increase VM memory by editing the Vagrantfile, and this is easy enough to do when necessary that we don't need anything more complicated.

[2016-04-10 00:52] #242 closed

[2016-04-10 02:47] jdm commented on #216
Linux-dev should be enough.

[2016-04-10 04:07] #216 closed

[2016-04-12 18:55] edunham opened #316 "Move buildbot logic to scripts in `/etc/ci`"
Possibly of interest to @shinglyu.

Right now a lot of build logic is hard-coded in https://github.com/servo/saltfs/blob/master/buildbot/master/files/config/master.cfg . Ideally, Buildbot would only invoke scripts from https://github.com/servo/servo/tree/master/etc/ci.

It looks like the only templating in `master.cfg` is to insert the value of `common.servo_home`, which is set in https://github.c

[2016-04-14 15:34] jdm opened #318 "Run test-tidy --self-test"
We run it on travis but not on the buildbots yet.

[2016-04-14 15:34] jdm commented on #311
Will be fixed by #317.

[2016-04-15 18:21] #318 closed

[2016-04-16 01:18] larsbergstrom commented on #302
This is going to be substantially more complicated than expected. Following the steps here:
http://trac.buildbot.net/wiki/RunningBuildbotOnWindows

Required an *incredible* amount of manual effort.

[2016-04-16 01:34] larsbergstrom opened #321 "Build machines should purge .servo and .cargo directories occasionally"
Right now, we cache all rust/cargo binaries and cargo packages for _all_ time. This will eventually be a bad thing :-)

[2016-04-16 03:42] aneeshusa opened #323 "Keep homebrew updated on OS X"
While deploying #320, I noticed 5 state failures on `servo-macpro2`, the root cause being that Python was failing to install because Homebrew/its repos were too old. Running `brew update` fixed the problem and a subsequent highstate completed successfully; we should use Salt to ensure Homebrew and its repos are up to date.

We can do this by passing `refresh: True` to the [state that installs pyth

[2016-04-16 07:36] Ms2ger commented on #316
How about the "steps"?

[2016-04-16 13:41] shinglyu commented on #316
Cool, I'll take a look next monday

Ms2ger <notifications@github.com> 於 2016年4月16日 週六 下午3:37寫道：

[2016-04-16 15:11] aneeshusa commented on #316
Because we're executing arbitrary code from the git checkout, I don't feel comfortable moving the existing build scripts into the `servo` repo for two reasons: they depend on the `buildbot` python package which is not installed on the workers and has no need to be installed, and I'd rather not execute arbitrary Python code which will get injected back into our Buildbot process.

@Ms2ger I saw [you

[2016-04-18 03:05] shinglyu commented on #316
@Ms2ger @aneeshusa Excuse my ignorance, but what is the main benefit we want from steps? Is it for reusing the step? or more fine-grained selection of steps to run? or for error recovery or pin-pointing the failed step? I don't have much experience with buildbot so I'm curious.

@aneeshusa : Thank you! Perhaps you can create a commit for your work so far so I can keep you as the author of that com

[2016-04-18 08:30] aneeshusa commented on #316
@shinglyu See #325 for what I have so far (sorry it took me a while to get it together).

I'd like to see #325 landed, then we can follow @edunham's checklist. We'll need to change the configuration so instead of having DynamicServoFactory be responsible for creating a bunch of steps, we have a step that reads the yaml file from the servo repo and dynamically adds more steps. This can be accomplis

[2016-04-18 12:34] Ms2ger commented on #316
I'm particularly interested in having separate logs for stdout of different steps

[2016-04-18 12:37] larsbergstrom commented on #316
@aneeshusa Thanks for putting together #325!

A big part of the reason I'd like to see this separated out (i.e., the main benefit) is that improvements to the specific steps, processing of the per-step output (as noted by @Ms2ger), etc. can all be made by contributors without direct access to our CI infrastructure. Today, rolling out CI changes is and has to be a manual process, sometimes involvin

[2016-04-19 01:30] aneeshusa opened #327 "Make both the Linux and Darwin `servo_home` variables available from Jinja"
Opening this so I don't forget about this; see #324 for details.

[2016-04-19 01:50] aneeshusa commented on #311
This has landed and been deployed to our infrastructure.

[2016-04-19 01:50] #311 closed

[2016-04-19 07:48] shinglyu commented on #316
@aneeshusa So what you mean is that we have a step that reads the yaml, and modifies its `self.build.steps` in runtime to add more dynamic steps?

When #325 landed, we can merge the yaml into `servo/servo`'s `/etc/ci`. And then we prepare a PR for `servo/saltfs` that switches to the read-yaml-and-add-step thing?

[2016-04-19 15:10] aneeshusa commented on #316
@shinglyu yes, that's right.

The current `DynamicServoFactory` reads the steps.yml file when the master starts up, and adds all the steps during start-up. After PRing the YAML file to the main servo repo, we need to change `DynamicServoFactory` to only add one new step to each build; that step will be responsible for interrogating the `steps.yml` file and adding more steps dynamically via `self.b

[2016-04-20 17:02] aneeshusa opened #329 "Add 'console log' to upstart scripts"
This will capture stdout and stderr to logfiles under /var/log/upstart, which is very helpful when homu and/or buildbot wake up on the wrong side of bed.

Docs at http://manpages.ubuntu.com/manpages/trusty/en/man5/init.5.html.

[2016-04-20 17:03] aneeshusa commented on #329
Just kidding, this is already enabled!

[2016-04-20 17:03] #329 closed

[2016-04-21 03:51] shinglyu commented on #316
@aneeshusa Can I PR the YAML file into main servo repo? Or do you want to do it yourself?

[2016-04-21 04:48] aneeshusa commented on #316
@shinglyu Feel free to make a PR to copy it over! I'll probably wait for #325 to get deployed and confirm there are no problems before approving it, but you can work on the PR to update `servo/saltfs` in the meantime.

[2016-04-21 22:20] edunham opened #332 "make sure servo user has perms on files needed to start buildbot"
if buildbot is ever erroneously started as root, it clobbers the perms on a bunch of files (twistd.log, events_build.servo.org/state, etc) that servo user needs access to in order to successfully start buildbot. it'd be nice if a highstate restored the correct perms.

a `chown -R servo:servo /home/servo/buildbot` does the trick.

[2016-04-21 22:23] aneeshusa commented on #332
What command did you use to start buildbot as root? I'd rather make it impossible to do so by checking the UID.

I'll make a PR to ensure the whole directory is owned by servo:servo.

[2016-04-22 06:40] aneeshusa opened #336 "Allow ICMP packets"
Currently, the (AWS?) firewall settings disallow ICMP packets, which makes us bad network citizens. ICMP is useful not only for debugging (ping, traceroute), but is also necessary for features such as path MTU discovery, and blocking ICMP doesn't add any security since we list these IP addresses in DNS anyways.

I would still recommend ICMP rate-limiting to prevent reflection attacks, if it's not

[2016-04-22 17:29] edunham opened #337 "buildbot steps need description and descriptionDone"
Waterfall currently just says "test" on all test steps. It would be better to have a short description of each step, or even just the full text of the command for that step.

Buildbot docs at http://docs.buildbot.net/latest/manual/cfg-buildsteps.html#common-parameters describe `description` and `descriptionDone`, and [here](https://github.com/rust-lang/rust-buildbot/blob/master/master/master.cfg#L

[2016-04-22 17:34] aneeshusa commented on #337
I want to keep the YAML file as simple as possible, so I'd say these should be generated from the commands. Given a shell command such as `./mach build --dev`, we can use `Running './mach build --dev'` for the `description`, and simply `./mach build --dev` for `descriptionDone`.

I think this could be added to `make_step` fairly easily.

[2016-04-22 17:37] aneeshusa commented on #337
For `description`, we could also have this change based on the `Step` class: `Compiling`, `Testing`, `Running`, and not include the command as the docs say to keep the `description` field as a single imperfect-tense verb.

[2016-04-25 10:08] shinglyu commented on #316
@aneeshusa Sounds good. I'll do as you said.

[2016-04-25 14:05] larsbergstrom opened #338 "Refactor python function to create commandline arguments"
In https://github.com/servo/saltfs/pull/331, we added a function to create the path string, `make_cd_string`:
https://github.com/servo/saltfs/blob/master/buildbot/master/files/config/factories.py#L118-L119

However, this could be cleaner! As seen in https://github.com/servo/saltfs/blob/master/buildbot/master/files/config/factories.py#L126-L127, there are more arguments in the array that are static

[2016-04-26 00:41] aneeshusa opened #340 "Disable Homebrew analytics"
Opening this as a reminder for later:

- [ ] Run command from https://github.com/Homebrew/brew/pull/146 on all OS X machines to disable analytics
- [ ] Update installation instructions for OS X machines on the wiki

[2016-04-27 04:52] ashrko619 commented on #338
Are you suggesting something like this ?
[code]

[2016-04-27 05:00] aneeshusa commented on #338
@ashrko619 Yes, that's the right direction. If you open a PR I have a few style nits, but it looks good otherwise.

[2016-04-27 05:05] ashrko619 commented on #338
@aneeshusa Thanks, I will open a PR, btw what are the style nits here ?

[2016-04-27 05:15] aneeshusa commented on #338
Here, we need to rename the `make_cd_command` function to reflect its updated scope, and there are some extra spaces.

Generally, I prefer to do reviewing on PRs because inline comments are clearer, so go ahead and open a PR and I'll make any future comments there.

[2016-04-27 06:26] aneeshusa opened #343 "Use steps.Test instead of steps.Compile for './mach test-unit' on Windows"
The Windows Buildbot factory has a hard-coded list of steps, since the heuristics added in #325 can't yet handle the extra Windows boilerplate. The second step runs `./mach test-unit`; until our heuristics are fixed (not so easy), this should be run as a `steps.Test` step instead of a `steps.Compile` step.

Files:
 - buildbot/master/files/config/factories.py

[2016-04-27 08:35] aneeshusa commented on #338
Fixed by #342.

[2016-04-27 08:35] #338 closed

[2016-04-27 09:45] shinglyu opened #344 "vagrant up failed"
I tried to run `vagrant up`, but it failed with this error message:

https://gist.github.com/shinglyu/94732d6b7f6535a526db87dc8fa517cb#file-vagrant-log-L49

I'm trying to fix #325, not sure if I can do that without a full vagrant environment?

ping @edunham

[2016-04-27 09:48] aneeshusa commented on #344
@shinglyu This is a bug I introduced; the fix is #298.

[2016-04-27 09:57] aneeshusa commented on #344
To fix it temporarily, change `salt.bootstrap_script = '.travis/install_salt'` to `salt.bootstrap_script = '.travis/install_salt.sh'`.

[2016-04-28 07:50] #343 closed

[2016-04-28 08:19] shinglyu commented on #344
Thanks!

[2016-04-28 09:41] shinglyu commented on #316
@aneeshusa I'm struggling to understand how salt and buildbot works together. I tried to setup the Vagrant VMs using the hack in #344, but I'm not sure what to do next. What is the minimal setup + step I can test the code you changed? And I'd be very grateful if you can explain how things works together, e.g. how the VMs work together and what triggers what.

[2016-04-28 16:16] aneeshusa commented on #316
@shinglyu
Salt is our configuration management system; we use it to make sure all the right packages are installed, all the configuration files have the right contents in the right place with the right permissions, etc. In relation to Buildbot, Salt is responsible for installing and configuring our Buildbot setup. You shouldn't need to make any Salt changes, just use it.

The Buildbot master is on

[2016-04-29 02:41] shinglyu commented on #316
@aneeshusa Thank you!

So I only have to work with `servo-master1`, and I'll create a new builder instead of just override the old one, is the correct?

I'll give it a try and get back to you, thank you :)

[2016-04-29 02:43] aneeshusa commented on #316
@shinglyu Yup, that's right. Once we've deployed the new builder and made sure it works properly, we can switch over the other builders in another PR.

[2016-04-30 23:18] aneeshusa opened #349 "Run each build in a new directory in /tmp"
IRC convo: http://logs.glob.uno/?c=mozilla%23servo&s=28+Apr+2016&e=7+May+2016#c419373

There is an intermittent problem on the Mac builders where a seemingly empty directory will be unremovable, with the filesystem reporting it is not empty, breaking the builds until the directory is moved out of the way. This is hypothesized to be an HFS/HFS+ bug.

We may be able to remove the impact from this by

[2016-05-01 00:36] aneeshusa opened #351 "Run pkill on the Windows builders"
Our Linux and OS X builders [use pkill](https://github.com/servo/saltfs/blob/15d495985f3d255145740c1f40d4bebeacf3d712/buildbot/master/files/config/factories.py#L70
) before each build to ensure there are no extra `servo` processes.

We should also run this on the Windows builders. The best way to do this would be to write a custom script in the `etc/ci` directory of the main servo repository, whic

[2016-05-01 03:58] aneeshusa commented on #264
Hit the wrong button, whoops.

[2016-05-01 06:43] aneeshusa commented on #264
FYI, I've been looking into this for #350. The solution I mentioned above (custom config directories) [won't work](https://github.com/saltstack/salt/issues/25344), but I've found an alternative solution. See #350 for the details.

[2016-05-01 06:49] aneeshusa commented on #288
This is clearer and has better instructions than the other issue I opened, so closing it in favor of reopening this one.

[2016-05-01 06:49] aneeshusa commented on #287
Closing in favor of #288.

[2016-05-01 06:49] #287 closed

[2016-05-02 15:31] aneeshusa opened #352 "Write scripts to automate ARM rootfs tarball create, move in-tree"
@mmatyas has been creating these for us, with a guide to the steps required on their blog: https://mmatyas.github.io/blog/servo-short-cross-compilation-guide. (The tarball generation is in a comment.)

Right now this requires more manual steps than I'd like (it should require one step to build the tarballs from scratch, and another to upload them).

Also, there should be no need to go through QEMU

[2016-05-03 01:34] aneeshusa opened #353 "Hook up this repo to highfive"
Add a webhook pointing at `http://www.joshmatthews.net/highfive/newpr.py`. See https://github.com/servo/highfive/pull/109#issuecomment-216412097.

[2016-05-03 15:49] jdm opened #354 "Make buildbot log files available via CORS"
I'm trying to add XHR support to http://hoppipolla.co.uk/410/reftest-analyser-structured.xhtml so we could make investigating reftest failures really easy. Unfortunately attempts to grab URLs like `http://build.servo.org/builders/mac-rel-css/builds/711/steps/test/logs/test-css.log/text` via XHR end up with CORS errors like:
[code]

[2016-05-03 15:57] jdm commented on #354
Using crossorigin.me doesn't work, presumably because it has a size limit that is smaller than our 150mb logs :)

[2016-05-03 16:00] metajack commented on #354
So it should be really easy to add the Allow-Origin headers on the builder. If not in buildbot, then at least nginx should be able to inject them during its proxy handling.

cc @edunham

[2016-05-03 16:02] aneeshusa commented on #354
I don't think Buildbot 8 has this feature (but it seems 9 does), so +1 for doing this through Nginx.

[2016-05-03 18:26] larsbergstrom commented on #353
I *think* I did it correctly - we'll see on the next PR open by somebody new!

[2016-05-04 08:04] Ms2ger opened #357 "test-unit seems to rebuild a lot more than is necessary"
I thought we avoided that previously.

[2016-05-04 20:04] larsbergstrom opened #358 "Windows builder is not caching cargo and rust deps"
Need to set the `CARGO_HOME` and `SERVO_CACHE_DIR` environment variables to something sensible to avoid wasting a *ton* of time on our Windows builder.

Changes should be made to this file:
https://github.com/servo/saltfs/blob/master/buildbot/master/files/config/environments.py

[2016-05-04 20:39] aneeshusa commented on #358
Specifically, these variables should be added to the `build_windows` expression.

[2016-05-04 22:15] aneeshusa commented on #353
I don't think this is set up properly - see #359 where highfive didn't leave a comment.

[2016-05-04 22:49] jdm commented on #353
We may need a Robots team like the main servo repo does.

[2016-05-05 00:09] jeandudey commented on #358
What about using `%APPDATA%\.cargo` for `CARGO_HOME` and `%APPDATA%\.servo` for `SERVO_CACHE_DIR`?

[2016-05-05 00:09] aneeshusa commented on #353
Should be fixed now: http://logs.glob.uno/?c=mozilla%23servo#c422225

[2016-05-05 00:13] larsbergstrom commented on #358
@jeandudey That sounds great to me, and much better than my other hacky ideas! The one good thing to test locally is to make sure that env vars get properly expanded when set and used by Cargo, as otherwise the files will still end up in the directory that gets cleared every time!

[2016-05-05 18:18] edunham commented on #336
@larsbergstrom I've moved all slaves to the 'default' group, deleted the spurious 'launch-wizard-x' groups, and allowed ICMP on the default and servo-master groups. When creating new slaves, please put them in the 'default' security group rather than creating a new one.

[2016-05-05 18:18] #336 closed

[2016-05-05 18:22] larsbergstrom commented on #336
@edunham Thanks, will do!

[2016-05-05 18:34] #323 closed

[2016-05-05 18:53] #332 closed

[2016-05-05 21:20] aneeshusa commented on #349
I'm not 100% sure about this, but this may also speed up builds on Linux if /tmp is backed by tmpfs. Also depends on how much RAM we have on the builders and how much space is needed during compilation/testing.

[2016-05-06 00:31] aneeshusa commented on #344
Closing because #298 has landed.

[2016-05-06 00:31] #344 closed

[2016-05-06 15:35] aneeshusa commented on #349
This may have spread to our windows builder:
[code]

[2016-05-06 16:04] #358 closed

[2016-05-06 18:35] larsbergstrom opened #364 "Need to disable crash reporting service via salt"
You can run:
[code]

To disable the crash reporting service (which plays badly with our testing infrastructure), but I'm not sure how to disable it permanently...

[2016-05-06 18:47] aneeshusa commented on #364
#350 backports the `launchctl.py` module, which lets us handle this via a `service.disabled` state.

[2016-05-06 18:48] aneeshusa commented on #364
Err, `service.dead` with `- enable: False` to make sure it's also not running (not just disabled).

[2016-05-06 21:17] aneeshusa commented on #364
Another, more coarse approach that we can apply now would just be using `file.absent` to make sure that file doesn't exist (might need to reboot to kill the current process). However, I think this would get affected by rootless/SIP if we upgrade to El Capitan, so I would not prefer this method.

[2016-05-07 05:06] aneeshusa commented on #349
I looked into this and it is possible, but is blocked on #316.

Buildbot (neither 8 nor 9) does not seem to natively support running each build in a different directory; the working directory can be configured for each slave and/or builder, but not for individual builds as it resolves to a static string once startup is complete.
However, we can instead dynamically change the steps: add a step at t

[2016-05-07 06:09] metajack commented on #349
At this point maybe it makes more sense to investigate further the behavior that prompted this workaround?

[2016-05-07 06:23] aneeshusa commented on #349
@metajack It seems that all 4 of the linked instances occurred on `servo-mac1`, so it might be an isolated problem. I'll try to take a closer look tomorrow.

[2016-05-09 09:44] shinglyu commented on #316
@aneeshusa How do I start buildbot in the `servo-master1` VM? should I use the user `servo`? I used the default user `vagrant` but failed. Here is what I did:

[code]

[2016-05-09 13:12] setupminimal commented on #288
Hi! I'm looking to contribute to Servo, and this was mentioned on Servo Starters, so I'm going to try it. Thanks!

[2016-05-09 15:53] aneeshusa commented on #288
@setupminimal It's yours, let us know if you have any questions!

[2016-05-10 03:29] shinglyu commented on #316
@larsbergstrom Suggested me not to setup everything for testing, since it's too complicated and doesn't worth the effort.

@aneeshusa I wonder how we can get the `workdir` inside the build step? https://github.com/servo/saltfs/compare/master...shinglyu:yaml?expand=1#diff-ad2d9737c89c906fb7307c5661a5415cR61

[2016-05-10 23:25] aneeshusa commented on #353
Apparently still not fixed - Highfive didn't leave a comment on #369, either.

[2016-05-13 04:51] aneeshusa commented on #349
I went to take a look at this, but when we paved over `mac1` and `mac3` recently, all of the evidence was wiped away.  I'll investigate if it happens again.

[2016-05-13 04:53] aneeshusa commented on #296
#350 Salts the Salt master. Salting the Salt minion will need to be done in a follow-up to it to use the backported `launchctl.py` module.

[2016-05-13 15:31] aneeshusa opened #372 "Use steps.Compile for `mach package` on Buildbot"
We use `./mach package -r` to [package Android APKs](https://github.com/servo/saltfs/blob/783e4f66c2fce1bc23176619b30bf7bf4133bb6c/buildbot/master/files/config/steps.yml#L56) on the android-nightly builder; the next step is then to upload the built package via S3.

Currently, the packaging step is broken (should be fixed by #290); however, even though it fails, Buildbot still tries to run the next

[2016-05-19 15:13] aneeshusa opened #376 "Run nightly tests of the saltfs repo"
We should run the full saltfs suite (from scratch) on Travis every night to catch changes in upstreams (e.g. #314).

@edunham I think you like to use [nightli.es](https://nightli.es/) for this purpose? We should also have some form of alerting on failure, but I'm not sure of a good way to do that.

[2016-05-19 21:14] aneeshusa opened #378 "Import color constant for red instead of using magic number"
Our test output is colorized for readability, and it uses ANSI escape codes to do so. The `tests/util.py` file has constants for the colors that we use. The `tests/lint/trailing_whitespace.py` test should import the RED constant from the `tests/util.py` file instead of hard-coding 31.

[2016-05-24 20:06] aneeshusa commented on #378
There is an [open PR](https://github.com/servo/saltfs/pull/381) for this.

[2016-05-24 20:46] larsbergstrom commented on #349
It seems to happen when the machine mysterious dies and attempts to reboot. Sometimes that reboot succeeds, but at least twice in the last few weeks it has not come back up fully and I've had to open a support ticket to get it turned back on.

[2016-05-24 21:00] aneeshusa opened #382 "Use OS X 10.11 on Travis"
@edunham is [switching all of our Mac builders to OS X 10.11](https://groups.google.com/forum/#!topic/mozilla.dev.servo/KWNQvd3TKPU). Because our Salt states change the underlying system in various ways, they could be affected by the specific OS version, so we should test using the same version.

In order to this, we should set the [`osx_image`](https://docs.travis-ci.com/user/osx-ci-environment/#

[2016-06-02 20:52] edunham opened #390 "Failure provisioning OSX 10.11"
I'm setting up mac1 and get several Salt errors of the form:

[code]

The master currently reports its salt version as 2015.5.2 and mac1 got salt 2015.5.5 when I followed the [usual process](https://github.com/servo/servo/wiki/SaltStack-Administration), though they should be compatible with one another.

@aneeshusa, any idea whether our states are wrong or we've hit a Salt bug?

[2016-06-03 20:29] aneeshusa commented on #390
This was caused by pip changing their internal API (which does not have any stability guarantees); Salt was directly interacting with said API. See pypa/pip#3673 for the issue.

This has been fixed in Salt upstream, but I doubt that it will be backported to our relatively ancient version of Salt. I can think of a few ways to fix this in the short term:
 - Backport the updated module ourself. Requi

[2016-06-03 23:12] aneeshusa commented on #390
I checked on `servo-mac1` and it seems pip is indeed version 8.1.2 (installed via Homebrew). However, the Homebrew formula a) hasn't been updated since April and b) purports to install pip 8.0.2.

@edunham You refreshed servo-mac1 more recently than April and pip/virtualenv installed fine, right? If that's the case, I'm not sure why pip 8.1.2 is installed and how it got there.

[2016-06-03 23:13] aneeshusa commented on #390
Update: I tried `pip install 'pip == 8.1.1'` and it seems to have installed OK on `servo-mac1` - can you try provisioning again? If this works, I can make a PR to pin the version.

[2016-06-06 19:57] edunham commented on #390
@aneeshusa Thanks for tracking that down! We paved mac1 within the past 2 weeks, so the problem with the formula is on Homebrew's side.

I get the same Salt failures with pip 8.0.2 and 7.1.2 on the minion, so I'll focus on getting our Salt version updated as the best direction toward fixing this for now.

[2016-06-09 14:19] metajack commented on #316
Are we still moving forward with this?

[2016-06-09 21:34] aneeshusa commented on #316
I just got around to reviewing @shinglyu's PR a few days ago, so waiting for him to address the comments. It looks pretty close though already.

[2016-06-11 01:32] retep998 commented on #351
You know what else you could do? Use job objects. Rust uses job objects to very good effect on its builders, and they ensure that there are no child processes of any sort hanging around.

[2016-06-11 01:45] aneeshusa commented on #351
Do you have a doc link for job objects? Are they similar to control groups on Linux? (I've love to use process/control groups for much better control, but that will take some time to investigate, and I'm not sure about an equivalent for OS X.)

[2016-06-11 02:35] retep998 commented on #351
https://msdn.microsoft.com/en-us/library/windows/desktop/ms684161(v=vs.85).aspx

[2016-06-13 22:08] shinglyu commented on #316
Sorry for the delay, will try to submit a updated patch during or after the workweek.

[2016-06-16 13:09] jdm opened #396 "angle isn't responding to bors-servo commands"
https://github.com/servo/angle/pull/10#issuecomment-226468968

[2016-06-17 00:32] KiChjang commented on #378
Previous attempt at #381.

[2016-06-17 10:38] jdm opened #397 "Android builder is out of free space"
See the build logs from https://github.com/servo/servo/pull/11766#issuecomment-226736495 for proof.

[2016-06-17 10:50] Ms2ger commented on #397
This is cross1; I removed some old stuff to hopefully get us in a better place right now.

[2016-06-17 12:01] aneeshusa commented on #397
Took a look with ncdu.

A while ago, we changed the locations of various dependencies (Android SDK, NDK, etc.) on disk to better handle multiple versions and updating. `servo-linux-cross1

[2016-06-17 12:02] aneeshusa commented on #397
I took a look with `ncdu`.

A while ago, I changed the file structure/locations of various dependencies (Android SDK, NDK, etc.) to better handle upgrades and multiple versions. `servo-linux-cross1

[2016-06-17 12:10] aneeshusa commented on #397
I checked via Salt and `servo-linux-cross2` is also at 99%..remediating now.

[2016-06-17 13:06] aneeshusa commented on #397
http://build.servo.org/builders/android/builds/1486 succeeded, so I went and deleted the folders. `servo-linux-cross1` has 49% usage of the primary disk and `servo-linux-cross2` has 58% of the primary disk, so we should be fine.

[2016-06-17 13:06] #397 closed

[2016-06-17 17:45] larsbergstrom opened #399 "Need to ensure 2fa for GH accounts with access to our build infrastructure"
Users with 'r+', operator, or 'try' access should probably be using 2FA, as their accounts have the ability to land changes to Servo and should be protected. These users are listed here:
https://github.com/servo/saltfs/blob/master/homu/files/cfg.toml#L69-L116

One idea is to add them to an organization group ("infra?") and require 2FA for that group.

We should also require this of everyone with w

[2016-06-18 01:48] aneeshusa commented on #399
AFAIK, the only way to check if a user has 2FA enabled is via the `2fa_disabled` filter to the `/orgs/:org/members` GitHub API endpoint, hence the idea to add r+/try users to a zero-permission group in the servo org and require 2FA. This should be coupled with a Homu check that a user has 2FA enabled (i.e. check that the user is part of the Servo org -> they have 2FA enabled). Ideally, we would ch

[2016-06-18 19:57] #378 closed

[2016-06-20 17:58] edunham commented on #376
We can configure Travis to send email or IRC notifications of build status, https://docs.travis-ci.com/user/notifications/. I think emails will be the best communication channel for me. @larsbergstrom, would / where would you like notifications?

[2016-06-20 19:42] larsbergstrom commented on #376
I agree that email is probably the best of the options. The awesomest would be automatically opening a GH issue in the case of failure, but I don't think that's an available option :-)

[2016-06-23 21:39] metajack commented on #396
Hooks were not set up. Fixed.

[2016-06-23 21:39] #396 closed

[2016-06-26 02:33] aneeshusa commented on #316
Reopening this until:
- we have verified whether or not #368 works
- we have fully switched over to having `steps.yml` in the servo repo:
  - update the copy in the servo repo
  - switch all builders to reference the copy in the servo repo
  - remove the copy in this repo

[2016-06-26 19:35] aneeshusa opened #406 "Handle buildbot-master OOMs better"
I just noticed that Buildbot was down and looking at the logs it seems the `buildbot-master` process was OOM killed. I've gone ahead and restarted it for now so that it is back up. If this starts happening repeatedly, we may want to give `servo-master1` more memory.

[2016-06-27 00:54] aneeshusa commented on #406
I just saw that this happened again, seems like may not just be an intermittent problem.

[2016-06-27 02:41] aneeshusa opened #407 "Add test that generated `cfg.toml` for Homu is a valid TOML file"
Buildbot has a `checkconfig` command to check that the master configuration file is valid, which we test in `tests/sls/buildbot/master/config.py`. AFAIK there is no similar command for Homu yet, but it should be possible to check that the `cfg.toml` file parses as TOML at the least using a Python TOML library. This should help prevent issues like the one addressed in #405.

A more comprehensive al

[2016-06-27 02:46] aneeshusa commented on #399
How does this interact with [our integration with the Gecko autolander](https://docs.google.com/document/d/1uubYE7JXaVY10PoAY9BVx8A-T11ZxP1RYqNOrFJwdcU/edit?pref=2&pli=1)? I'm particularly interested in this:
[code]
This implies that the Gecko autolander has direct push access to the main servo repo; any security policies we set on GitHub accounts also need to be applied to (Bugzilla? not sure) ac

[2016-06-27 04:49] aneeshusa opened #408 "Require 2FA for SSH access"
Inspired by #399. Essentially blocked by #253 and #254.

This can be done on Linux via PAM (see https://wiki.mozilla.org/Security/Guidelines/OpenSSH#Multi-Factor_Authentication_.28OpenSSH_6.3.2B.29 for example). I'm not sure about how to do this on OS X - suggestions welcome.

[2016-06-27 12:25] aneeshusa commented on #408
To be more clear, when I say 'via PAM' I mean using Google Authenticator via PAM. I would not feel comfortable using a third-party service (e.g. Duo) in our SSH login path and would prefer to stick to TOTP or another self-contained service.

[2016-06-27 12:39] aneeshusa commented on #406
servo-master1 now has 7.5 GB of memory (up from 3.75 GB).

[2016-06-27 12:39] #406 closed

[2016-06-27 12:44] larsbergstrom commented on #406
Yes, I moved this to a `m3.large` instance. It looks like the buildbot instance itself was ballooning up to > 1GB of memory usage on some very large PRs.

[2016-06-28 13:34] larsbergstrom commented on #316
Missing file in the servo repo:
http://build.servo.org/builders/linux-dev-yaml/builds/0/steps/generic/logs/stdio

[code]

[2016-06-28 13:43] larsbergstrom commented on #316
Yeah, I think this needs a full path. Rolling back the rollout on servo-master.

[2016-06-29 01:38] aneeshusa commented on #316
I don't think this needs an absolute path - the [docs](http://docs.buildbot.net/latest/manual/cfg-buildfactories.html#dynamic-build-factories) use an relative path - so I'd like to look at the logs again. However, since you rolled back, Buildbot no longer remembers anything about `linux-dev-yaml` and won't serve the logs anymore (e.g. did we run the git step first). Can you roll this back out? The

[2016-06-30 12:18] aneeshusa opened #412 "Remove Buildbot categories"
In #16, we added Buildbot categories, but I'm not sure if we ever used them. At this point in time, all of our builders are getting the same category value - `"auto"` - which we're not doing anything with (they can be used to filter Buildbot status targets). Additionally, the `categories` parameter [was deprecated in Buildbot 0.8.12](http://docs.buildbot.net/0.8.12/relnotes/index.html?highlight=ca

[2016-06-30 12:22] aneeshusa opened #413 "Send notification of failed nightly builds"
Because we use a ["not rocket science"](https://graydon2.dreamwidth.org/1597.html) approach to our builds, the nightly builds should never fail. If they do, something is very wrong, and so alerting in this case is important.

IMO the best notification delivery target to use for this is the [`MailNotifier`](http://docs.buildbot.net/current/manual/cfg-statustargets.html#mailnotifier).

Files:
- buil

[2016-06-30 12:29] aneeshusa opened #414 "Use temporary session tokens for S3 uploads"
AWS [supports](https://docs.aws.amazon.com/STS/latest/APIReference/API_GetSessionToken.html) generating and using temporary session tokens that can be limited in lifespan. We should use this functionality on our Buildbot builders to reduce the lifespan of the S3 upload credentials passed to the `./etc/ci/upload_nightly.sh` script.
The buildbot master would need to make a call to AWS to retrieve a

[2016-06-30 19:15] Crimack commented on #407
Hey, I've made an attempt at doing this on a fork by using a Python library. Two problems though:

1. I can't actually get the Vagrant file to run so I can test? Maybe I'm doing something silly. I keep getting `'extract_id': undefined method 'split' for ["SALT_NODE_ID=servo-linux-cross1", "SALT_FROM_SCRATCH=true"]:Array (NoMethodError)` when I try to run `vagrant up`
2. Is the homu/files/cfg.toml

[2016-06-30 20:38] edunham opened #417 "Manage `sources.list` and make bootstrap script purge lists before updating"
Ran into `SystemError: E:Unable to parse package file /var/lib/apt/lists/us-west-2.ec2.archive.ubuntu.com_ubuntu_dists_trusty-updates_main_i18n_Translation-en (1), E:The package lists or status file could not be parsed or opened.` again today. We've been running into similar apt issues every week or two on the linux slaves.

@aneeshusa, @larsbergstrom, what are your thoughts on adding a salt state

[2016-07-01 03:23] aneeshusa commented on #407
Welcome to Servo!

1. The Vagrantfile is actually broken (again!), this is my fault :sweat_smile:. I'm working on a PR to add a test for it so I don't break it again, but in the meantime the changes in [this commit](https://github.com/servo/saltfs/pull/350/commits/99e02dfd6b34449d5a9cf04ca8297d25cfd35a63) should get you up and running. (You don't need the `is_salt_master` function.)
2. The `homu/f

[2016-07-01 03:31] aneeshusa commented on #417
I did some searching and this appears to be a problem with EC2's apt mirroring. In the interest of being more reproducible, here is what I think is a better solution:
  - Use Salt to manage the `/etc/apt/sources.list` file, like we already manage files in `/etc/apt/sources.list.d/`, so that it never points at EC2 mirrors.
  - Potentially update the bootstrap script to replace the `sources.list` fi

[2016-07-01 12:37] aneeshusa opened #421 "By-user isolation of processes/services"
This is a metabug for ensuring that each independent service/process has its own user and set of files, and additionally changing file permissions so they are not world readable (at least for sensitive (e.g. config) files).

[2016-07-01 12:44] aneeshusa opened #422 "Use separate homu user for Homu-related states"
Homu has no need to interact with the Buildbot-related files under servo, and neither should Buildbot be able to see Homu's file. We should be using a separate `homu` user for Homu-related states, which can often be done via a `user: homu` parameter to those states. We also will need to add a state that adds the required `homu` user.

Part of #421.

Files to change:
- `homu/init.sls` is where to c

[2016-07-01 14:08] rozuur commented on #412
I would like to work on this as my first PR. Other than removing categories from master.cfg is there anything that needs to be done?

[2016-07-01 14:10] aneeshusa commented on #412
@rozuur @this-jacob already has a PR open for this one! Feel free to try one of the other issues tagged `E-easy`, though.

[2016-07-01 16:15] aneeshusa commented on #412
Fixed by #419.

[2016-07-01 16:15] #412 closed

[2016-07-01 19:26] RowanEB commented on #303
I'll start working on this.

[2016-07-01 19:35] aneeshusa commented on #303
It's all yours! Let me know if you have any questions.

[2016-07-01 22:49] edunham opened #423 "Install Letsencrypt and automate certificate renewal/regeneration"
We want to turn on mandatory HTTPS  on servo.org with HSTS, see https://github.com/servo/download.servo.org/issues/1.

To do this, all servo.org subdomains must have valid TLS certs.

We're mostly ready, save for 2 things:
- build.servo.org needs a cert, see https://github.com/servo/saltfs/issues/196.
- In 90 days, the cert in use by CloudFront for downloads will expire and need to be renewed.
- [

[2016-07-03 12:54] larsbergstrom commented on #399
Yes, that's correct - any Gecko autolander account will need to have 2fa enabled. We should probably do that to bors-servo, too, though it's not entirely clear to me what the right way to 2fa "robot" accounts is.

@edunham Do you have any ideas for this one?

[2016-07-03 12:56] larsbergstrom commented on #316
This has been rolled back out, and you can see the non-gated `linux-dev-yaml` build failing on every PR :-)

[2016-07-03 15:30] aneeshusa commented on #316
#424 should fix the "no such file or directory" error - failing to even exec is what tippped me off.

[2016-07-08 02:01] aneeshusa commented on #351
Fixed in #426 using `powershell kill -n servo`.

[2016-07-08 02:01] #351 closed

[2016-07-08 02:03] aneeshusa opened #433 "Use Control Groups/Job Objects instead of pkill"
It is fairly easy for a process to escape from our current pkill step since it just searches by name. We should use stronger process management features like control groups (Linux) and job objects (Windows). No idea what we could use on Mac. See discussion at #351.

[2016-07-11 03:53] aneeshusa opened #437 "Create + document Salt highstate log creation/retention policy"
Follow up from servo/servo#12314.
cc @larsbergstrom @edunham and anyone else who runs highstates

There are multiple people who run highstates, and our saltfs testing story is still not that great, so it would be nice to have logs for highstates in case something goes wrong. I'd be +1 for logging all highstate runs + retention for at least 2 days (should be more than enough for any issues to pop u

[2016-07-11 11:27] aneeshusa commented on #407
Fixed by #420.

[2016-07-11 11:27] #407 closed

[2016-07-11 14:53] larsbergstrom commented on #437
Is there any way to set up the salt master / minion services to log verbosely automatically? I'd be inclined to roll that out and just rely on normal logrotate, etc. instead of having us try to remember to capture all the output to files, if it's possible.

[2016-07-11 22:18] metajack commented on #422
Shouldn't we just have each of these things in a container by itself a la Kubernetes or something?

[2016-07-12 21:20] #340 closed

[2016-07-12 21:22] UK992 commented on #337
I want to claim this

[2016-07-12 23:07] KiChjang commented on #337
@UK992 It's yours!

[2016-07-13 07:02] Ms2ger commented on #316
Are we going anywhere with this?

[2016-07-13 12:47] aneeshusa commented on #316
@Ms2ger TL; DR; Yes.

At this point, we're successfully reading the steps from the servo repo but our new step creation is missing a few things. The latest development was #424 to fix a small bug in step lookup. It needs to be deployed but based on some previous testing in prod and looking at the log files, we need to do a little more tweaking when we create steps to avoid breaking Buildbot's inte

[2016-07-15 17:53] RowanEB commented on #303
I think I've correctly added this, should I go about working on adding NTP support, or will that be done from a separate issue?

[2016-07-15 18:00] aneeshusa commented on #303
Let's save NTP for another issue/PR; that one will be more involved because we will need to write custom Salt code for that. (It's also blocked on #350, which will enable us to load custom modules and states).

[2016-07-19 20:40] edunham commented on #417
Sounds good to me. This would be an appropriate first bug for someone with intermediate Ubuntu familiarity :)

[2016-07-20 03:24] aneeshusa opened #443 "Ensure all Buildbot builders listed for servo repo in Homu configuration are valid"
The Homu configuration (`homu/cfg.toml`) lists a number of Buildbot repos that are used for gating/try builds, in the `builders` and `try_builders` fields of `repo.servo.buildbot`. Recently, the `windows` builder [got renamed](https://github.com/servo/saltfs/commit/ac587293db495213cf9fbf16881206f5cb42e88a) to `windows-dev` in the Buildbot configuration without updating the Homu configuration, caus

[2016-07-21 01:01] aneeshusa opened #445 "Disable metadata server on OS X"
There is a metadata service on OS X that indexes files which was thrashing the disks of our OS X builders. We've disabled it for now by hand, but this should get added to Salt to prevent it from reoccuring and to handle this on new builders.

IRC conversation: http://logs.glob.uno/?c=mozilla%23servo&s=20+Jul+2016&e=20+Jul+2016#c484938

Files:
- `osx/init.sls`: Add a new Salt state to disable the `

[2016-07-21 17:44] loganmhb commented on #443
I am interested in giving this a try.

[2016-07-22 01:05] aneeshusa commented on #443
@loganmhb Great! Let us know if you have any questions.

[2016-07-24 09:08] Ms2ger opened #446 "mac-rel-css is taking >1h30 on macpro1"
See http://build.servo.org/builders/mac-rel-wpt/builds/2266 for example

[2016-07-27 17:58] larsbergstrom opened #449 "servo-mac1 failing to highstate"
Just the failures of a `test=True` run listed below:

[code]

This is preventing the buildbot slave service from starting on the machine.

cc @aneeshusa @edunham

[2016-07-28 17:21] loganmhb commented on #443
Just starting out with this, but it looks like the imp.load_source() function might enable us to load master.cfg without the use of exec, if that seems preferable. (See http://stackoverflow.com/questions/2601047/import-a-python-module-without-the-py-extension)

[2016-08-01 16:46] larsbergstrom opened #452 "Should we consider a mac using macports instead of homebrew?"
We discovered this weekend that somebody is still using macports: https://github.com/servo/servo/issues/12672#issuecomment-236629850

Should we consider adding a mac builder that has macports instead of homebrew? Since Travis does not support macports (https://docs.travis-ci.com/user/installing-dependencies/#Installing-Packages-on-OSX), I suspect that the rest of the ecosystem has basically zero t

[2016-08-01 19:53] edunham commented on #449
I've seen this before on mismatched Salt versions.

[code]

[2016-08-01 20:36] larsbergstrom commented on #449
Did the following to downgrade to 2015.5.0 and was able to downgrade. Formula does not exist for 2015.5.2.

[code]

[2016-08-01 20:36] larsbergstrom commented on #449
cc @aneeshusa

[2016-08-01 20:41] larsbergstrom commented on #449
Actually, that didn't work either - same error. There seems to exist no compatible version of salt currently up on homebrew to work with that? I'll see what's on the other mac builders...

[2016-08-01 20:44] larsbergstrom commented on #449
Hrm, the other macs are all on head (2016.3.1) and seem to work fine. Just servo-mac1 can't highstate? This is so weird.

[2016-08-04 15:17] aneeshusa commented on #449
Original failure is a dupe of #390. You can try installing Salt from the specific Homebrew URL that's in the install script, or else I will get my salting-the-salt-master branch rebased.

[2016-08-04 15:19] aneeshusa commented on #443
@loganmhb If you can make it work without `exec`, I'd be overjoyed. Thanks for double-checking the docs!

[2016-08-04 16:27] #337 closed

[2016-08-10 20:12] aneeshusa opened #456 "Don't put the homu database in /home/servo/homu directory"
We recently deleted the main `main.db` database by accident while debugging a Homu problem; the `/home/servo/homu` directory was blown away and the database with it.

To make it harder to blow away the database inadvertently, we should put the database in a different location. I think `/var/homu/main.db` would be a good option. We also need to add a Salt state to pre-create the `/var/homu` directo

[2016-08-10 20:12] larsbergstrom commented on #456
Yeah, that makes sense :-)

[2016-08-11 16:29] metajack opened #457 "put repo maintenance scripts into the repo"
Attaching them here since they need some modification before they should go in.

repo_add_irc.sh (set up the github -> irc notifications)
[code]
and irc.json:
[code]

repo_add_homu.sh (set up homu/travis support)
[code]
homu-web.json:
[code]
homu-travis.json
[code]

[2016-08-13 00:28] aneeshusa opened #458 "Use correct user/group permissions for all homu states"
Follow-up to https://github.com/servo/servo/issues/12825. Filing as a reminder.

[2016-08-15 08:40] shinglyu opened #459 "Add a link to the reftest result to open reftest analyzer directly"
Treeherder will add a link to the [reftest analyzer](http://hg.mozilla.org/mozilla-central/raw-file/tip/layout/tools/reftest/reftest-analyzer.xhtml) for reftest failures, it would be helpful for debugging servo reftest failures.

[2016-08-17 20:53] #264 closed

[2016-08-17 22:09] glennw opened #462 "Update build machines to use Ubuntu 16.04"

[2016-08-17 22:09] glennw commented on #462
cc @larsbergstrom @edunham

[2016-08-18 06:46] paulrouget opened #463 "update_brew.sh: line 19: TOKEN: unbound variable"
buildbot/master/files/config/environments.py set `TOKEN` for `upload_nightly`, but `TOKEN` is used in `update_brew.sh`.

Should we create an environments for update_brew? Or use `GITHUB_HOMEBREW_TOKEN` in `update_brew.sh` (would that work?)

[2016-08-18 06:46] paulrouget commented on #463
/cc @larsbergstrom

[2016-08-18 06:46] paulrouget commented on #463
Happened here: http://build.servo.org/builders/mac-nightly/builds/55

[2016-08-18 13:03] #463 closed

[2016-08-18 13:59] larsbergstrom opened #466 "Cannot highstate after salt-the-salt-master"
Applying the salt-the-salt-master went fine, but after doing so for any new `highstate` we now get:

[code]

cc @edunham @aneeshusa

[2016-08-18 14:47] aneeshusa commented on #466
I restarted the salt-minion and salt-master services and it seems to be working.

The Salt services do NOT auto-restart because of tricky ordering and re-exec issues - it has to be done manually.

[2016-08-18 14:47] #466 closed

[2016-08-18 15:31] aneeshusa commented on #462
This is going to be non-trivial, I can think of a few hurdles at least:
- Python 3 is the new default, Python 2is not installed by default, and Salt as of right now is still Python 2 only (although working on Py3 compat). This may affect bootstrapping and our other services (Buildbot, Homu).
- The init system has been changed from Upstart to Systemd, so we'll need to rewrite all of our init script

[2016-08-18 15:44] aneeshusa commented on #462
Also, SSH is updated to a new version which disables DSA keys by default, so we'll need to replace the existing DSA keys. (Currently only @michaelwu, I believe.)

[2016-08-18 15:53] metajack commented on #462
It shouldn't take much to rewrite the init scripts. I wrote the current ones and have written both upstart and systemd ones in the past.

Installing python2 seems easy enough.

We want to upgrade in order to test WebRender. Basically need need a version of mesagl that supports OpenGL 3.3. The one in Trusty does not, but the one in Xenial does.

[2016-08-18 16:10] aneeshusa commented on #462
OK, I think the easiest way to do it would be adding a new build machine that's running 16.04 and to update the Salt code to handle Trusty and Xenial in parallel, then shift everything over to 16.04 once the kinks are ironed out.

Salt has a built-in grain (`init`) we can branch on to do Upstart things vs Systemd things, and it looks like Python 2 (and 3 for Homu) are already Salted.

[2016-08-18 16:50] larsbergstrom commented on #466
Nice work, thanks for figuring that out!

[2016-08-18 17:21] metajack commented on #462
First issue I've run into is that https://repo.saltstack.com/apt/ubuntu/16.04/amd64/archive/ doesn't have 2015.5.8. Are any of those versions there compatible with our current master?

[2016-08-18 18:48] aneeshusa commented on #462
Unfortunately, no.

Salt [does not guarantee](https://docs.saltstack.com/en/latest/faq.html#can-i-run-different-versions-of-salt-on-my-master-and-minion) backwards compatibility for minions that are newer than their masters. Additionally, Salt QC is a bit wanting, and there are often bugs and regressions between even minor and patch versions of Salt, which is why I've tried as hard as possible to

[2016-08-18 18:50] aneeshusa commented on #462
I'd also like to Salt the Salt minion before trying to upgrade Salt, to help automate the process.

[2016-08-18 23:33] glennw opened #468 "Build and provide OSMesa libs on Linux build machines."
We would like to have a recent version of Mesa3D available on the Linux build machines. This will make it possible to test GL3+ (i.e. webrender) within Servo on the build machines reliably (without any dependency on X).

I'm happy to do this work, with some guidance - or if someone else wants to take it on, that would be super :)

I *think* it should be fine to do this work now without any effect

[2016-08-18 23:33] glennw commented on #468
cc @metajack @larsbergstrom @aneeshusa @edunham

[2016-08-20 13:24] aneeshusa commented on #456
This has been [fixed in Homu](https://github.com/servo/homu/pull/58), so this is open for anyone to work on!

[2016-08-20 19:34] aneeshusa commented on #468
The theoretically-ideal way of doing this would be to build a custom Mesa package(s) (`.deb`). This is much easier with source-based distros like Gentoo or NixOS - I'll need to see how annoying this is to do on Ubuntu. This would involve some kind of scripting or automation to build the package [locally], then hosting the package somewhere (S3 probably) and installing it via Salt on the builders.

[2016-08-20 22:07] glennw commented on #468
In this case I think LD_LIBRARY_PATH or changing ld.so.conf.d is fairly safe - the build config only produces one library (libOSMesa.so) which is unlikely to be used by anything else on the build machines.

[2016-08-20 22:23] emilio commented on #468
Huh, I expected us to need to LD_PRELOAD `libGL` too (which isn't that hard btw), but yeah, I don't think anything else would use libOSMesa

[2016-08-20 22:42] aneeshusa commented on #468
Feel free to start working on the second option (building Mesa on each builder via Salt + `ld.so.conf.d` or `LD_LIBRARY_PATH`). We should be able to come up with something we can try on the builders more quickly than investigating Ubuntu packaging, and iterate on it to fix any problems. Some more detailed pointers:

- This should probably go into a new file, `servo-build-dependencies/osmesa.sls`.

[2016-08-20 23:06] glennw commented on #468
@emilio libOSMesa includes all the GL function stubs, so there should be no need to load libGL.

@aneeshusa Thanks for the tips! I'll take a look at it next week.

[2016-08-22 00:03] glennw commented on #468
Huh, I wonder if we could just use this PPA if/when we update to Ubuntu 16.04 - https://launchpad.net/~oibaf/+archive/ubuntu/graphics-drivers

[2016-08-22 02:05] glennw commented on #462
I found that there is a PPA for ubuntu 16.04 that provides an up to date mesa3d. So depending on how long this work is likely to take, it may be possible to use that PPA on the build machines to get an up to date OSMesa for headless rendering.

[2016-08-25 22:15] aneeshusa opened #473 "Get A+ on Mozilla Observatory for servo.org"
Scan results: https://observatory.mozilla.org/analyze.html?host=servo.org

This should mostly entail adding headers via Ngnix.

[2016-08-26 13:46] aneeshusa commented on #473
Something that caught my eye is that we are failing the cookie test, even though we ourselves don't set any cookies. It turns out CloudFlare is adding a `__cfuid` cookie which 1) cannot be disabled, 2) does not have the `Secure` flag set, and 3) is sent even on `http` connections, not just `https` connections.

[2016-08-26 13:46] aneeshusa commented on #473
Oops, misclick.

[2016-08-26 13:52] aneeshusa commented on #473
Bonus points if you utilize the actual [`http observatory code`](https://github.com/mozilla/http-observatory) for the test instead of just checking headers.

[2016-08-29 02:03] Coder206 commented on #456
@aneeshusa I'd like to help out here.

[2016-08-29 02:05] Coder206 commented on #473
@aneeshusa I would like to help out here.

[2016-08-29 18:37] aneeshusa commented on #456
@Coder206 It's yours, please ask if you have any questions!

[2016-08-31 22:49] aneeshusa commented on #443
@loganmhb How's this going? Do you have any more questions?

[2016-09-01 17:47] choudhary001 commented on #417
I would like give this a go. Where should i start with this?

[2016-09-03 17:39] loganmhb commented on #443
@aneeshusa apologies for slow progress here -- it's taken me a little while to get up to speed with the salt build process. I've got the local test environment with Vagrant running, but I can't figure out where to find the deployed Buildbot configuration -- can you point me in the right direction for that? Thanks!

[2016-09-03 17:45] aneeshusa commented on #443
@loganmhb There's a bit of indirection in the [`Salt code that deploys the Buildbot master configuration`](https://github.com/servo/saltfs/blob/654e20615a1b7220ab3983bdda2035663976a220/buildbot/master/init.sls#L22), but you should be able to find it in `/home/servo/buildbot/master/`. I'll also update the issue description, sorry I didn't include that originally!

[2016-09-06 01:06] loganmhb commented on #443
Hmm, there must be something wrong with how I'm doing the setup then -- the /home/servo directory is empty. I'll try to figure out where that's going wrong.

[2016-09-06 20:44] aneeshusa commented on #443
@loganmhb You need to be using the `servo-master1` Vagrant VM - did you use another one perchance?

[2016-09-06 20:51] aneeshusa commented on #417
@choudhary001 Great, it's yours :)

Are you familiar with `apt`s `/etc/apt/sources.list` file? A good starting point would be adding a new [`file.managed`](https://docs.saltstack.com/en/2015.5/ref/states/all/salt.states.file.html#salt.states.file.managed) state to the `ubuntu/init.sls` file which locks down the contents of the `/etc/apt/sources.list` file on our Ubuntu builders, using official Ubu

[2016-09-07 23:44] aneeshusa commented on #390
Fixed in #350. I just tried a `test=True` highstate and I'm not seeing this anymore.

[2016-09-07 23:44] #390 closed

[2016-09-07 23:44] aneeshusa commented on #449
#390 has been fixed.

[2016-09-07 23:44] #449 closed

[2016-09-09 21:45] larsbergstrom opened #475 "Ensure that reprovisioning Linux clients updates setuptools"
We were getting:
[code]

Which was due to a broken (recursive deps) setuptools:
https://github.com/pypa/setuptools/blob/master/CHANGES.rst#v2712

I was a Bad Admin and just logged in and did a bunch of:
[code]

But we should do the right thing here and make sure we properly are updating setuptools.

[2016-09-09 21:59] larsbergstrom commented on #475
That step resulted in:
[code]

[2016-09-11 20:10] choudhary001 commented on #417
@aneeshusa I am familiar with /etc/apt/sources.list file. I looked into 'https://docs.saltstack.com/en/latest/ref/states/all/salt.states.file.html' as well. But I didn't understand the locking down contents of the sources.list file. Could explain it a bit more?

[2016-09-11 20:17] aneeshusa commented on #417
@choudhary001 Salt, among other things, is a configuration management tool. The `file.managed` state lets us specify the exact contents a file should have, so I just want to grab the `sources.list` from a regular Ubuntu install (which points at the official Ubuntu mirrors) and use `file.managed` to set that as the contents for `/etc/apt/sources.list` on our infra.

This will entail checking in a g

[2016-09-12 21:37] aneeshusa opened #477 "Make it easier to run manual builds on the builders?"
It's best to run builds via the automation, but sometimes the easiest way to debug an issue (e.g. if it only occurs on the builders) is to SSH in and run the build. However, the environment the builders use is pretty different from the SSH environment:
- User: root vs. servo
- Environment variables: PATH, CARGO_HOME, etc.

We should make it easier to log into a builder and run test builds (in a wa

[2016-09-14 20:11] aneeshusa commented on #399
GitHub now supports [requiring 2fa for all org members](https://help.github.com/articles/requiring-two-factor-authentication-in-your-organization/)!

Before we flip the switch, we need to figure out a story for our bot accounts (bors-servo, possibly others). One option might be the new Integrations feature, which is currently in early-access/beta.

[2016-09-14 22:36] aneeshusa opened #479 "Use environment variables to specify OpenSSL location on OS X"
OpenSSL is a key-only homebrew crate, and doing `brew link --force openssl` means we
[code]

Instead, we need to explicitly pass the full include/lib paths to the compiler on our OS X builders, which is most easily done via environment variables.

Parts:
 - Update Salt code to no longer call `brew link --force openssl`
 - Update Buildbot configuration to pass correct values for the `OPENSSL_INCLUD

[2016-09-14 22:40] santagada commented on #479
I think it is pretty stable, for the general user docs I would leave the command there but for salt we can fix it to /usr/local/opt/openssl and just know that if in the future all builds on osx always fails on linking openssl is because of a more from homebrew.

[2016-09-14 22:43] aneeshusa commented on #479
@santagada Due to how Buildbot works, it's much easier to set static environment variables than dynamic ones (i.e. those that shell out, which is the `"$(brew --prefix openssl)"` part). Is the output of that command always `/usr/local/opt/openssl`, or does it change based on the openssl version?

[2016-09-14 23:10] aneeshusa commented on #479
OK, from IRC it sounds like the output of that command should always be `/usr/local/opt/openssl`, so we can hardcode the environment variable values for now. @santagada, you were interested in this so I'll assign this to you.

Files to change:
  - `servo-build-dependencies/init.sls`: Remove the salt state which runs `brew link --force openssl`
  - `buildbot/master/files/config/environments.py`: Ad

[2016-09-16 16:31] jarondl commented on #473
I have started investigating this issue, and this is my current understanding:

1. [servo.org](servo.org) , [starters.servo.org](starters.servo.org) , and [download.servo.org](download.servo.org)  are all hosted on github pages (on separate repos) with cloudflare in-front.
 For them, the nginx configuration file is irrelevant. Maybe the headers can be added via cloudfront page rules, but i.d.k

2.

[2016-09-16 17:52] aneeshusa commented on #423
@edunham The Cloudfront certs will expire in two weeks, we should renew them.

[2016-09-16 17:55] aneeshusa commented on #473
@jarondl The only other subdomain I know of is `dl.servo.org` (which currently gets TLS errors because we don't have SANs on our `download.servo.org` cert); maybe @edunham or @larsbergstrom knows about more about that or adding headers in cloudfront/cloudflare.

(I think download.servo.org is on S3 with some redirection magic, not GH pages.)

We are planning to add https to build.servo.org; see #4

[2016-09-19 14:37] jarondl commented on #473
There is also `blog.servo.org`, which is also gh-pages with cloudflare.
Yes, I would like to work on this, please assign me.

[2016-09-19 15:42] aneeshusa commented on #473
@jarondl It's yours, please ask if you have any questions.

[2016-09-21 19:21] aneeshusa opened #482 "Set PIP_REQUIRE_VIRTUALENV=true env var globally"
Prevent ad-hoc fixes like #475 in favor of Salted fixes.

May apply only on Ubuntu (where we can use apt-get to get python modules), not 100% sure about OS X.

[2016-09-22 19:25] aneeshusa commented on #376
Ping on this, would have helped catch #483.

[2016-09-22 19:50] larsbergstrom commented on #376
@edunham could we use an alias on servo.org? e.g., github-saltfs@servo.org

[2016-09-23 09:03] aneeshusa commented on #376
I opened #376 for this, but I see a few problems with this solution:
- I am unaware of any way to filter notifications by branch. Because `homu` always uses the `auto` branch, even though Travis does not send notifications for PRs this will send extra emails when going through `bors-servo`, causing lots of spam.
- Having an (internal?) email list adds more state, somewhere that is not 1) openly vi

[2016-09-23 19:57] aneeshusa opened #487 "Pin Homebrew version"
Unlike Linux package managers like `apt-get`, Homebrew likes to update itself when updating the package list (cough git repo cough). I'm not sure if this is possible, but we should pin the Homebrew version to avoid having surprises like #483.

[2016-09-24 04:33] aneeshusa opened #488 "Automatically generate migration checklist"
Often PRs require one-time manual intervention, which cannot or should not be encapsulated into a Salt state. Currently, these are recorded in an ad-hoc fashion and can be easily forgotten, especially with a remote team. I'd like to make this better in a few parts with more consistent communciation:
- Any commit requiring a migration task should use a 'saltfs-migration: ' tag in the commit message

[2016-09-24 04:34] aneeshusa commented on #488
cc @larsbergstrom @edunham

[2016-09-24 10:42] vigneshsarma commented on #382
Hi, can I do this?

Only thing missing seems to be what xcode version to use. Can we go with `xcode7.3` since it is the newer one?

[2016-09-24 12:37] aneeshusa commented on #382
Hi @vigneshsarma, unfortunately I already have a commit for this in an open PR I'm working on so this is no longer on the table! (It turns out this is a lot more involved than just adding the `osx_image` key due to rippling effects on the build, so this isn't an E-easy either). You're welcome to look at some of our other open issues though!

[2016-09-24 12:38] aneeshusa commented on #382
Going to be fixed in #483.

[2016-09-24 12:43] vigneshsarma commented on #445
@aneeshusa can I have a go at this?

[2016-09-24 12:44] aneeshusa commented on #445
@vigneshsarma It's yours!

Note that #350 has merged, so you should be able to use `service.dead` directly. Let me know if you have any questions.

[2016-09-24 14:59] aneeshusa commented on #479
@santagada I actually have taken care of this in #483, as part of upgrading Homebrew to 1.0.0. Feel free to work on another issue, and thanks again for your initial report and PR to make our OpenSSL usage via Homebrew better!

[2016-09-26 20:41] aneeshusa commented on #488
We should make sure to support sub-checklists, like in https://github.com/servo/saltfs/pull/483/commits/339a2d3774992c912e675ff8dc4f240af6ff28b8.

[2016-09-27 18:35] #382 closed

[2016-09-27 18:35] #479 closed

[2016-09-27 19:21] santagada commented on #479
I'm on vacation, sorry for not unassining myself, and thanks for fixing this

[2016-09-29 14:29] aneeshusa opened #496 "Make each sls file individually `state.apply`able"
This mainly involves making sure each sls file `include`s any other sls files it depends on, i.e. that contain states it references. I had been unsure whether this was necessary, but this now seems like a good idea to be able to run "partial" highstates in the case that some modules are broken, as seems to be the case with our OS X builders at the moment. (Everything works except a full state.high

[2016-09-29 17:50] aneeshusa commented on #423
@edunham @larsbergstrom The certs have expired, please renew them manually ASAP, as I don't have time to investigate Salting this at the moment.

[2016-09-29 20:03] notriddle opened #498 "Run compilation steps once, and copy binary to run tests in parallel"
Currently, parallel steps like mac-rel-wpt and mac-rel-css compile Servo separately before running it on both of the machines. Fixing this won't speed up the simple linear case, but it will help when there's a try build and an auto build running concurrently (they'll be able to compile in parallel).

[2016-09-29 20:07] aneeshusa commented on #498
This is definitely a good idea that I've looked at in the past. I believe the best way to do this is via [Transfer build steps](https://docs.buildbot.net/0.8.12/manual/cfg-buildsteps.html#transferring-files) to do this. However, I'm not sure of a good way to fit this into the current yaml-based build step declaration, so this will require some more thinking.

[2016-09-29 20:10] aneeshusa commented on #498
@larsbergstrom's [suggestion](https://github.com/servo/saltfs/pull/497#issuecomment-250576342) of [Dependent schedulers](https://docs.buildbot.net/0.8.12/manual/cfg-schedulers.html#dependent-scheduler) also looks like a key component of this.

[2016-09-29 20:18] aneeshusa commented on #498
An alternative to uploading builds to the buildmaster is to upload them to S3. This could also make it easier to make a version of [mozregression](https://github.com/mozilla/mozregression) for Servo, which has been requested in the past.

[2016-09-29 21:55] notriddle commented on #498
Are we currently actually using the YAML builders?

[2016-09-29 22:24] aneeshusa commented on #498
Yes, buildbot currently reads from [this file in saltfs](https://github.com/servo/saltfs/blob/master/buildbot/master/files/config/steps.yml) (as deployed on the buildbot master).

[2016-09-30 15:19] aneeshusa commented on #423
@frewsxcv mentioned using [Amazon ACM](https://aws.amazon.com/certificate-manager), which also auto-renews, is free, and has CloudFront integration, and I think is another good option for CloudFront sites like download.servo.org (no need for cron!).

[2016-10-02 18:15] aneeshusa commented on #353
Looks like this is working as of #499, will close this after 1/2 more PRs to verify.

[2016-10-02 18:24] larsbergstrom commented on #353
FYI, @jdm was right - the Robots group did not have write access to the repo. After adding that this Friday, it seems to be working.

[2016-10-02 18:26] aneeshusa opened #500 "Prevent duplicates in `try`, `operators, and `reviewers` lists"
In #499, notriddle was removed from the try list because he was already in the reviewer list. We should make sure that there are no duplicates in the try list, in the operators list, in the reviewers list, or in any combination of the above; combining all the lists and checking for duplicates in that is sufficient.

Steps:
- Move these lists into the `map.jinja` file, to allow pre-processing
- Jin

[2016-10-02 18:28] aneeshusa commented on #353
Ah ok, in that case since it didn't just spontaneously start working, this should be good to go.

[2016-10-02 18:28] #353 closed

[2016-10-02 18:30] thuibr commented on #413
I can't find buildbot/master/files/config/master.cfg in the tree. Where is it located?

[2016-10-02 18:37] aneeshusa commented on #413
I got a notification of a comment on this but I don't see one, is there someone interested in working on this?

[2016-10-03 01:32] metajack commented on #498
I looked into this before quite a while back. As far as I can tell making build rules that trigger on file uploads is not really possible in Buildbot. This is something that taskcluster can do.

The only thing I've been able to think of so far is to upload the build artifact to s3 and have some other bot be notified of completion by buildbot and then trigger a second job to download/run tests.

[2016-10-03 01:41] aneeshusa commented on #498
@metajack, the docs seem to indicate Dependent Schedulers will handle this in Buildbot, letting you trigger a build when another build finishes. We can have the first build end with the file upload step, and Buildbot should kick off the next builds after that one finishes.

[2016-10-03 01:54] metajack commented on #498
That sounds great then. It seems like we could split the yaml steps into build steps and test steps, probably multiple pairs of them,, and then have buildbot do this two step process.

[2016-10-03 17:44] edunham commented on #423
Certs renewed & ACM process started.

[2016-10-04 13:08] lucasloisp commented on #372
I would like to implement this. If I understand correctly, we should check that `mach_arg` re.matches "package"` and assign `step_class = steps.Compile`. Right?
I'll get to it later today

[2016-10-04 13:22] aneeshusa commented on #372
@lucasloisp that's correct! I've assigned this to you, leave a comment if you have any questions.

Note: there are currently two copies of `make_step`, make sure to update both of them.

[2016-10-05 23:31] thuibr commented on #413
I commented on it but then deleted my comment. If I can close another ticket that I'm working on, maybe I can work on this one.

[2016-10-06 04:52] aneeshusa commented on #316
The saltfs Buildbot configuration is now able to successfully run builds from the `steps.yml` in the main servo tree! See http://build.servo.org/builders/linux-dev-yaml/builds/1632.

[2016-10-06 16:25] larsbergstrom opened #506 "Need to periodically clean up buildbot slave directories"
See:
https://github.com/servo/servo/pull/13597#issuecomment-252014690

[2016-10-06 16:42] aneeshusa opened #507 "Open ports for mosh in firewall"
Mosh is [now installed](https://github.com/servo/saltfs/pull/335) on our machines, but it requires UDP ports 60000-61000 to be opened. (It starts allocating ports per connection at 60000 and goes up, so we can also open fewer ports, e.g. 60000 - 60010).

I believe these are currently being filtered by the AWS network infrastructure (not iptables). Would it be possible to open these ports so mosh c

[2016-10-06 16:42] aneeshusa commented on #507
cc @edunham

[2016-10-06 21:09] edunham commented on #507
AWS is now set to allow UDP 60000-61000 on servo-master.

[2016-10-06 21:20] aneeshusa commented on #507
Thanks! `mosh` is installed on all of the machines, so can you open those ports on the builders as well?

[2016-10-06 21:30] edunham commented on #507
Opened on the builders for now; eventually I'd like to switch to a model of accessing everything through a bastion host with better logging and detection of unusual access.

[2016-10-06 21:30] #507 closed

[2016-10-07 19:57] rwaweber commented on #413
@thuibr If not, I'd be happy to give this a shot.

[2016-10-07 20:23] thuibr commented on #413
Sure thing!

[2016-10-12 12:58] jdm opened #509 "Run test-geckolib on builders"
This would have prevented https://github.com/servo/servo/issues/13721.

[2016-10-12 13:35] aneeshusa commented on #509
Closing as unnecessary per https://github.com/servo/servo/issues/13721#issuecomment-253211203.

[2016-10-12 13:35] #509 closed

[2016-10-12 23:49] Coder206 commented on #252
@aneeshusa When you wrote

The `arm-dependencies.sls` link throws a 404, is this the new link with the symlinks highlighted: https://github.com/servo/saltfs/blob/master/servo-build-dependencies/arm.sls#L11-L32 ?

[2016-10-17 18:04] jarondl opened #510 "proposal: switch to a tests framework"
Hi,
The current saltfs tests are a collection of Python scripts with custom made `Failure` and `Success` classes. While these definitely work, I believe that transitioning to a framework should make the tests more usable and inviting. It is also easier to switch early on.
So I propose to switch to `pytest`, which is nice and easy, and also included with travis. As an alternative, we can also use t

[2016-10-17 18:11] aneeshusa commented on #473
@jarondl How is this going? Anything that I can clear up for you?

[2016-10-18 16:10] jarondl commented on #473
Hi @aneeshusa , The headers and the simple checks were easy, just reading through the docs to see what applies. Basically, both homu and buildbot don't use external resources, so it's very easy.

Running the Mozilla observatory locally with localhost and custom ports was more involved. I have managed it locally, but I want a more robust solution before including that in the tests. It does, however

[2016-10-18 20:43] Coder206 commented on #487
@aneeshusa I think this article describes a solution to pinning the version of `brew` http://stackoverflow.com/questions/10093918/ignore-formula-on-brew-upgrade

[2016-10-18 21:28] jdm commented on #417
@choudhary001 Are you still working on this?

[2016-10-18 21:29] jdm commented on #443
@loganmhb Did you sort out the issue? Are you still working on this?

[2016-10-19 16:59] #316 closed

[2016-10-20 07:18] choudhary001 commented on #417
@jdm Yes

[2016-10-20 17:39] KiChjang commented on #417
@choudhary001 Are you stuck on anything? Can we hear what is going on right now?

[2016-10-22 12:23] choudhary001 commented on #417
@KiChjang I made the changes suggested by @aneeshusa as follow:
created a sources.list file in ~/ubuntu/apt/sources.list using the contents of /etc/apt/sources.list from servo-master1 vm and modified ~/ubuntu/init.sls as below:

--- a/ubuntu/init.sls
+++ b/ubuntu/init.sls
@@ -23,3 +23,11 @@
       - group
       - mode
     - clean: True
+
+/etc/apt/sources.list:
+  file.managed:
+    - user: root

[2016-10-22 22:41] aneeshusa commented on #417
@choudhary001, it will be easier for me to help if you open a WIP PR with what you have so far. It's hard to tell but there may be a path issue or something else.

One way to test this is manual verification inside a Vagrant VM, and another would be adding a test that makes sure that the deployed `sources.list` file doesn't mention any EC2 mirrors (easiest way is probably searching for some string

[2016-10-23 12:19] jdm commented on #372
Fixed by #503.

[2016-10-23 12:19] #372 closed

[2016-10-23 12:20] jdm commented on #413
@rwaweber Have you made progress on this task? Any questions?

[2016-10-23 16:53] rwaweber commented on #413
@jdm Not as of yet, but I was planning on getting the PR together today.

I do have a couple questions though; who would be the interested parties that this should notify when the build fails? Additionally, when the build fails, would we also like logs attached to the message, or is just a link to the failed build on the buildbot site sufficient, or both?

[2016-10-27 07:45] choudhary001 commented on #417
Hi @aneeshusa ,
I have created this pull request - [https://github.com/servo/saltfs/pull/520](https://github.com/servo/saltfs/pull/520). Could you please take a look and help me further.

[2016-10-27 16:48] aneeshusa commented on #487
@Coder206, I should have been more clear. Homebrew has two versioned parts, the [`brew` binary itself](https://github.com/Homebrew/brew/) and the [`homebrew-core` package formulas](https://github.com/Homebrew/homebrew-core/). I'd like to be able to pin both of those versions, both:
- installing pinned versions of both for fresh installs
- updating our pinned version of both for existing installs

[2016-10-27 17:48] aneeshusa commented on #413
@rwaweber A link to the failed build is probably sufficient. Our log files are rather large and I don't think trying to attach them to the message or extract the relevant bits is necessary at this time.

Also, a new requirement: our android builds are currently busted (although close to getting back to working!) so it should to be possible to disable notifications for certain builds; just hardcodi

[2016-10-27 19:24] larsbergstrom commented on #413
@edunham Do you think we should create an account @servo.org for these infra-related failures?

[2016-10-28 08:32] Ms2ger opened #524 "Buildbot no longer exposes the logs from multiple test jobs"
http://build.servo.org/builders/linux-rel-wpt/builds/468 has three test jobs, but all links point to the log for the first one.

[2016-10-28 15:52] aneeshusa commented on #524
I've identified this as a bug in the new dynamic step creator and am working on a PR for this.

[2016-10-28 16:42] aneeshusa commented on #309
Status update: Buildbot 9 was released on October 6, 2016: https://docs.buildbot.net/0.9.0.post1/relnotes/index.html

We've made progress and now read steps from the `servo/servo` tree, but have had to write custom code for this which has caused some bumps along the way: #515, #524, etc. Buildbot 9 has built in support for dynamic steps and a rewritten (nicer) web UI, which both sound enticing to

[2016-10-28 16:45] aneeshusa commented on #309
Also from the release notes, it seems like the Buildbot APIs will still be in flux until 1.0.0: https://docs.buildbot.net/0.9.0.post1/relnotes/index.html#master

[2016-10-28 17:45] #524 closed

[2016-10-28 18:42] aneeshusa opened #527 "Add pylint to test suite"
It has many tests which are too noisy or will break due to buildbot API (e.g. their use of camelCase), but it performs a much deeper static analysis than just pyflakes and will catch problems like #526 ahead of time.

[2016-10-28 21:17] aneeshusa commented on #524
FYI there were some fixups required (#526, #528), but this seems to be working properly now.

[2016-10-29 22:48] jdm opened #530 "Buildbot sometimes checks out the wrong revision for try runs"
https://github.com/servo/servo/pull/13957#issuecomment-257116847 links to a log with a compilation error that is actually from https://github.com/servo/servo/pull/13956#issuecomment-257115718 . This really confused me!

[2016-10-29 22:55] aneeshusa commented on #530
I'm unable to reproduce - when I click through to the `stdio` and `warnings` logs for those comments, they have different contents - different lengths, file paths, headers, etc. (although they both end in the same error). Can you provide direct links to the logs you are seeing or maybe upload some screenshots?
There may be a caching problem somewhere, although I'm doubtful as one is for a `windows

[2016-10-29 23:11] jdm commented on #530
However, you're absolutely right that http://build.servo.org/builders/windows-dev/builds/1770/steps/compile/logs/stdio and http://build.servo.org/builders/windows-dev/builds/1772/steps/compile/logs/stdio are different logs with different contents. This may be a problem of the code on the try branch not being updated correctly?

[2016-10-29 23:12] jdm commented on #530
http://build.servo.org/builders/windows-dev/builds/1770/steps/git/logs/stdio and http://build.servo.org/builders/windows-dev/builds/1772/steps/git/logs/stdio show the same hash being used when updating the branch, which would explain why this occurred.

[2016-10-29 23:13] jdm commented on #530
http://build.servo.org/builders/windows-dev/builds/1770 and http://build.servo.org/builders/windows-dev/builds/1772 show that different revisions should have been used.

[2016-10-30 00:13] aneeshusa commented on #530
OK, that makes more sense and matches what I'm seeing, thanks for looking again.
http://build.servo.org/builders/windows-dev/builds/1772 has different values for `revision` (the revision triggering the build request, in this case `a06cb1ca`) and `got_revision` (the revision that was actually used during the build, in this case `59e651b7`). Checking the git log, it seems like Buildbot fetched the `

[2016-10-30 01:15] aneeshusa commented on #530
I made a PR that will fix the second problem, but I'm not sure about a good way to fix the first one; I think just manually retrying if we encounter this again is the most practical solution.

[2016-10-30 01:15] jdm commented on #530
Thanks!

[2016-10-30 07:41] aneeshusa commented on #510
I originally wrote the custom micro testing lib for a few reasons:
- Lack of familiarity with existing Python testing frameworks
- Desire to avoid all external dependencies, having to install them, etc.

Additionally, our tests are mostly integration style tests, not unit tests, and the default output style of most test runners seems to be optimized for unit tests. One of my main motivators was th

[2016-10-30 16:37] loganmhb commented on #443
So sorry for disappearing! Thought I had already responded to this but I
didn't send it apparently.

I haven't been able to work out my virtualenv/environment issues yet - have
had limited time to work on it. I may be able to sometime soon, but I don't
want to block progress if someone else wants to handle it, so if you want
to reassign you should go ahead.

On Tue, Oct 18, 2016, 5:29 PM Josh Matt

[2016-10-31 10:06] paulrouget opened #532 "Homebrew nightly build not updated anymore (since 26)"
Last update was on the 26th of October: https://github.com/servo/homebrew-servo

Does `./etc/ci/update_brew.sh` still run?

[2016-10-31 13:13] jdm commented on #532
https://github.com/servo/servo/blob/master/etc/ci/buildbot_steps.yml#L29 says it should be.

[2016-10-31 15:07] aneeshusa commented on #532
It seems that the `TOKEN` variable is unbound: http://build.servo.org/builders/mac-nightly/builds/129/steps/shell__3/logs/stdio, causing the upload to fail.

Will investigate further after class.

[2016-10-31 16:10] aneeshusa commented on #532
Reopening until `mac-nightly` runs again tonight and I can confirm that this is working again.

[2016-10-31 18:49] aneeshusa commented on #532
@larsbergstrom started a force build and this is working again: https://github.com/servo/homebrew-servo/commit/3ec0ce011547f41f5854177427508c087ea4533a.

[2016-10-31 18:49] #532 closed

[2016-11-07 09:48] paulrouget opened #535 "Homebrew nightly build not updated anymore (since 11/4)"
[code]

[2016-11-07 14:03] aneeshusa commented on #535
Probably due to https://github.com/servo/servo/pull/14058, will investigate later.

[2016-11-17 15:59] larsbergstrom opened #538 "archive.extracted does not set excutable bits on NDK files during unzip"
This *should* be fixed in 2015.5.4/2015.8.0:
https://github.com/saltstack/salt/issues/23822

[2016-11-17 20:06] choudhary001 commented on #417
@aneeshusa
Hi,
You proposed below as the solution for this problem:

1. Use Salt to manage the /etc/apt/sources.list file, like we already manage files in /etc/apt/sources.list.d/, so that it never points at EC2 mirrors.
2. Potentially update the bootstrap script to replace the sources.list file and run rm -r /var/lib/apt/lists/* and sudo apt-get update to make sure new machines don't exhibit this

[2016-11-18 09:17] paulrouget commented on #535
@aneeshusa anything I can do to help?

[2016-11-21 06:32] paulrouget commented on #535
Now that `etc/ci/upload_nightly.sh` creates the timestamp, how can `update_brew.sh` know the proper url for that package?

I see 3 options:

1. in upload_nightly, store the timestamp somewhere for re-use in update_brew.sh
2. call update_brew from upload_nightly, not from buildbot_step
3. put together the timestamp earlier and store it in a shared env variable

[2016-11-25 17:37] aneeshusa commented on #535
Sorry about the delay, that's indeed the root of the issue; I think option 2 is the best remediation.

[2016-11-29 02:49] edunham opened #540 "linux builders need CA cert updated"
18:45:24 <@Manishearth> edunham: I think our linux buildslaves need their root cert store updated
 18:45:34 <@Manishearth> they can't handle letsencrypt
 18:45:40 <@Manishearth> (https://joshmatthews.net)
 18:45:51 <@Manishearth> so python urllib2.urlopen or requests.get throws an error

[2016-11-29 06:28] Manishearth commented on #540
Working with an upgraded `requests` lib I get a better error message, linking me to https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings

[code]

A quick fix is to turn off SSL verification. The distro does not have an updated version of python available; but we could try using python3 for mach.

[2016-11-29 19:46] edunham commented on #540
https://github.com/servo/saltfs/pull/542 should fix, thanks @Manishearth for figuring out what was up :)

[2016-11-29 21:33] Manishearth opened #543 "Run intermittent-tracker on servo-master1"
We should run https://github.com/servo/intermittent-tracker on servo-master1

(Playing around with it now to get it to work)

This needs `github3.py==1.0.0a4` installed.

(Working out the other dependencies)

[2016-11-29 21:57] jdm commented on #543
github3.py is only necessary for running `sync.py`. You can also run that locally, pipe the output to `intermittents.json` and scp the json file to the builder.

[2016-11-29 21:58] jdm commented on #543
(Note that for best results the JSON file should be created right before enabling the webhook)

[2016-11-29 23:13] Manishearth commented on #543
I've got a version running with flask at http://build.servo.org/intermittent-tracker/query.py?name=private

(CGI seemed like a whole other world of pain, whereas we already use bottle in homu and it's the same principle here)

[2016-11-29 23:21] Manishearth commented on #543
https://github.com/servo/intermittent-tracker/pull/1 has the flaskification.

The virtualenv needs flask installed. github3 doesn't get installed in non-root mode because of openssl stuff in the cryptography lib 🙁

We will need it eventually for a startup task to populate the db. We should also start verifying webhook secrets.

@aneeshusa Any idea how to daemonize this?

[2016-11-30 09:42] Ms2ger opened #545 "We're gating on Android"
Somehow #539 got deployed before its time.

On `servo-master1`, I cloned 70fe5103dd9846cf5859dc48e8add5fcb73c9c2f into `/tmp/salt-testing-root/saltfs` and ran `salt 'servo-master1' state.highstate 2>&1`. Waiting to see if that helped.

[2016-11-30 09:42] Ms2ger commented on #545
CC @aneeshusa @larsbergstrom @metajack @Manishearth

[2016-11-30 09:44] Ms2ger commented on #545
CC @edunham

[2016-11-30 12:28] Ms2ger commented on #545
That seems to have helped as a temporary band-aid.

Some notes for the post-mortem:
* I didn't find docs on how saltfs code is deployed now; if that had existed I could probably have reverted in the repo and followed the docs
* https://github.com/servo/servo/wiki/Buildbot-administration still mentions /srv/salt/, which no longer exists
* We landed https://github.com/servo/saltfs/pull/539 before we

[2016-11-30 16:24] Manishearth commented on #545
Bad deploy was mine; I was testing out the intermittent tracker stuff. It's much harder to deploy from branch now, though.

[2016-11-30 16:29] larsbergstrom commented on #545
It's my fault for landing the Android gating assuming it would be "ready to go shortly" and then taking forever to get mozjs building on Android.

We do try to log (see https://github.com/servo/servo/wiki/Buildbot-administration#applying-changes), but there's no default verbose / logged mode for salt highstates, at least that I know how to turn on. It's something we've definitely wanted!

[2016-11-30 21:33] #543 closed

[2016-11-30 23:52] Manishearth commented on #543
I deployed a cherry-picked version of this (to avoid the android issue), cc @larsbergstrom

It works.

[2016-12-07 01:16] aneeshusa commented on #538
I have not yet investigated, but note that Salt 2016.11 has apparently overhauled `archive.extracted` significantly: https://docs.saltstack.com/en/latest/topics/releases/2016.11.0.html#improved-archive-extraction-support

[2016-12-08 20:23] aneeshusa commented on #538
Looking at [the docs for `archive.extracted` in 2016.11](https://docs.saltstack.com/en/2016.11/ref/states/all/salt.states.archive.html#salt.states.archive.extracted), it appears this is due to [an upstream Python bug](https://bugs.python.org/issue15795) in the `zipfile` module. This has been worked around by default in 2016.11; however, there appears to be no way to cause `archive.extracted` to fa

[2016-12-13 12:12] larsbergstrom commented on #462
I gave this a try for the linux cross builders. Everything seemed to work except for the buildbot client script, which would need to be rewritten:
https://github.com/servo/saltfs/blob/master/buildbot/slave/files/buildbot-slave.conf

[2016-12-13 16:02] larsbergstrom opened #552 "Buildbot compiled python files not removed or regenerated when updated by salt"
Android builds are currently failing due to some incorrect environment variables (e.g. `ANDROID_TOOLCHAIN`). However, those were removed long ago! The compiled python file for the environment, though, was still an old version and was incorrectly setting those variables:

[code]

It's not clear to me why it didn't get regenerated. `factories.py` was in a similar state.

cc @edunham @aneeshusa

[2016-12-13 19:21] larsbergstrom opened #553 "Error with CheckRevisionStep"
I discovered that factories.py had not been getting recompiled & we were using an old version. Once buildbot started using it, if `CheckRevisionStep` is enabled, then we get:
http://build.servo.org/builders/arm32/builds/4619/steps/generic/logs/err.text

For now, I've just commented out adding it to the list, as it's not clear to me how to fix the issue.

cc @aneeshusa @edunham

[2016-12-13 20:43] aneeshusa commented on #553
@larsbergstrom, the build you linked seems to be an example of `CheckRevisionStep` working properly by failing the build when the `git` step doesn't succeed sucessfully - Buildbot seems to handle the Exception cleanly, but let me know if it didn't.

However, the behavior in all of the the linked bugs is a bug, which I've filed #554 for.

[2016-12-13 20:43] aneeshusa commented on #553
One further idea here might be to re-invoke the git step a bounded number of times if we notice it didn't work properly the first time instead of just failing straight away, but I will leave that for a follow-up.

[2016-12-15 01:09] aneeshusa commented on #530
Should be fixed by #531 and #554.

[2016-12-15 01:09] #530 closed

[2016-12-19 14:46] jdm opened #556 "Run WPT/CSS tests on windows builders"
https://github.com/servo/servo/pull/14039 fixed problems that were preventing them running on Windows, so we should probably try not to regress that!

[2016-12-19 19:57] jdm opened #557 "Dealing with new intermittent failures is clumsy"
Consider when a test failures on a PR and we suspect it is an existing intermittent failure, rather than a new one caused by the changes:
* if we file an issue immediately and mark it as intermittent, we guarantee that if failure is actually not intermittent, then it gets merged anyways.
* if we retry the merge and it does not appear again, we run the risk that nobody files an issue for it and we

[2016-12-20 21:44] aneeshusa opened #559 "Migrate to Taskcluster"
This is a meta issue for the Taskcluster migration.

Initial checklist from our meeting with TC folks at the All Hands (thanks @edunham for taking notes!):

- [ ] Get Pete Moore's help setting up a Windows AMI that meets TaskCluster's needs and has our build deps installed. Some possible options:
    - Snapshotting current builders
    - Creating new AMIs from scratch based on TC deps
    - Saltin

[2016-12-20 21:46] Manishearth commented on #559
A workaround for the IPC thing is to just mount a tempfs on `/tmp`

[2016-12-20 21:47] aneeshusa opened #560 "Create Dockerfile for Linux TC builds"
- [ ] Create basic Dockerfile
- [ ] Partition Salt rules to avoid installing Buildbot deps in our Docker containers
- [ ] Figure out image building/pushing story
- [ ] Move all Docker-related code to main servo repo to allow auto-build on change

[2016-12-20 21:51] aneeshusa commented on #559
FYI, when we move to Ubuntu 16.04 (#462), I believe systemd will automatically mount a `tmpfs` on `/tmp`, although not sure if that's the case with Docker/TC.

[2016-12-20 21:55] aneeshusa commented on #556
AFAIK, this should just require adding `./mach test-wpt` and `./mach test-css` steps to `etc/ci/buildbot_steps.yml` in the Servo repo. Right now we only have a `windows-dev` builder though, no `windows-rel` - are dev builds fast enough to run WPT/CSS tests?

[2016-12-20 21:59] Manishearth commented on #559
Okay, that's good. The main problem is that IPC basically assumes that tmpfs is on /tmp and sticks all of its buffers there, and if that turns out not to be the case the fallback to actual files is horrible.

[2016-12-20 22:03] jdm commented on #556
Traditionally, no.

[2016-12-22 18:15] aneeshusa commented on #443
#562 is another place this would have been helpful! (It always seems to be windows-related...)

[2016-12-22 18:24] larsbergstrom commented on #556
My only worry about doing this immediately is that `windows-dev` currently takes about 30 minutes. We'd have to spin up some much larger EC2 instance types just to do the `-rel` builds, much less to also run the tests.

@edunham Should we be doing that now, or should we wait for Windows on TaskCluster?

[2016-12-22 18:45] aneeshusa commented on #552
This appears to be a common problem:
- https://bugs.chromium.org/p/chromium/issues/detail?id=168835
- https://wiki.mozilla.org/ReleaseEngineering/Managing_Buildbot_with_Fabric (not called out, but there are steps to remove all `.pyc` files)

Also, based on a quick look through the Buildbot source, I believe the culprit may be our usage of "graceful" restarts - it looks like the same Python process

[2016-12-22 23:01] aneeshusa commented on #553
Fix has been deployed and is working.

[2016-12-22 23:01] #553 closed

[2016-12-23 03:00] aneeshusa commented on #545
#549 covers documentation, and #437 tracks logging, which is addressed by #547. We're still gating on Android but recent builds are all green, so I'm closing this.

[2016-12-23 03:00] #545 closed

[2016-12-23 14:48] Ms2ger opened #565 ""Actual commit differs from requested commit" error"
See http://build.servo.org/builders/mac-dev-unit/builds/4846 for example

[2016-12-23 15:56] Ms2ger commented on #565
The git step also says
[code]

[2016-12-23 20:20] aneeshusa commented on #565
This is a new step I added as a safeguard because Buildbot frankly sucks at `git fetch`, and often silently continues with the wrong commit.

Looking at the build logs for failed builds linked above (e.g. http://build.servo.org/builders/mac-dev-unit/builds/4849/steps/git/logs/stdio), it seems all of these are failing on our Mac builders, specifically due to another git process running in the same

[2016-12-23 20:22] KiChjang commented on #565
Could it also be a force retry that broke stuff?

[2016-12-23 21:31] aneeshusa commented on #565
I doubt a force retry is to blame.

I've cleaned up all the errant `index.lock` files I could find (after checking no builds were being on each builder):
- `arm32` on `servo-linux-cross1`
- `mac-rel-css`, `mac-rel-wpt1` on `servo-mac2`
- `mac-rel-css` on `servo-mac4`
- `mac-dev-unit` on `servo-macpro1`

I confirmed there's none left via
[code]
All builders reported no index.lock files

It's possib

[2016-12-25 07:39] jdm opened #567 "servo-skia fails on windows-msvc with "failed to build archive: bad archive: permission denied""
[code]

[2016-12-28 19:29] aneeshusa commented on #565
Linked PRs are merged now, so looks like this is fixed (at least for now). Closing, re-open if it happens again.

[2016-12-28 19:29] #565 closed

[2016-12-29 22:33] aneeshusa commented on #303
@charlesvdv is interested in taking this up now: https://github.com/servo/saltfs/pull/439#issuecomment-269638754

[2016-12-31 13:59] charlesvdv commented on #443
I'm interrested to work on this but I can get the vagrant VM to run...
I got this when running ```vagrant up servo-master1 --provision```:
[code]
Should I make something more ?

[2016-12-31 22:10] aneeshusa commented on #443
@charlesvdv go for it!

[2017-01-02 00:37] emilio opened #570 "Update LLVM in linux builders"
Filling for tracking since I forgot about it.

See reasoning at https://github.com/servo/servo/pull/14584.

We need at least LLVM 3.3+ I believe, which should be available pretty much everywhere.

[2017-01-05 03:09] metajack commented on #423
ACM certs must be in US East 1, so I created new certs there and deployed them. We're back online.

[2017-01-05 03:32] aneeshusa commented on #423
Re-opening as at least `build.servo.org`, and possibly other subdomains, still have no HTTPS, which we need to enable HSTS for all subdomains.

[2017-01-06 05:08] #535 closed

[2017-01-09 04:24] paulrouget opened #575 "upload_nightly.sh: git error"
See: http://build.servo.org/builders/mac-nightly/builds/200/steps/shell__2/logs/stdio

I requires a valid email address, and `servo@servo-mac2.(none)` is not.

I see 3 options:

- set the domain name of the machine then it doesn't return `(none)`
- set an email address under `common/init.sls`. Would it work to just add a `email` field under `servo:user.present:`?
- user `--author` when commiting

[2017-01-09 23:46] aneeshusa commented on #575
IMO option 3 is best; I'm thinking `'Tom Servo <servo@servo.org>'` as the author.

We should also be configuring the domain name on the builders, but Salting the macOS machines is currently broken.

[2017-01-10 08:39] #575 closed

[2017-01-10 09:21] paulrouget opened #576 "GITHUB_HOMEBREW_TOKEN: unbound variable"
See: http://build.servo.org/builders/mac-nightly/builds/201/steps/shell__2/logs/stdio

I'm not sure to understand why it's not working.

/cc @aneeshusa

[2017-01-10 16:16] aneeshusa commented on #576
I checked on the buildmaster and it looks like #541 has been deployed, but we're hitting #552 again - the `factories.py` file is from January 4th, but the `factories.pyc` file is from December 22nd. This is causing the token to not get passed correctly.

@larsbergstrom is just removing the `.pyc` files OK, or is a full restart of Buildbot required?

Note that #505 should fix #552 in the future.

[2017-01-11 06:47] aneeshusa commented on #443
Fixed by #571.

[2017-01-11 06:47] #443 closed

[2017-01-11 18:24] jdm commented on #417
@aneeshusa Could you answer the questions in the previous comment?

[2017-01-11 20:43] aneeshusa commented on #417
#520 takes care of the first item (although it currently fails on Travis and I'm not sure why).

The second item needs the wiki to be updated after the PR lands, and the third item will be manually done as part of deploy; you don't need to do anything for those.

If you can get the PR tests working on Travis, then we'll handle everything else.

[2017-01-12 19:26] larsbergstrom commented on #576
@aneeshusa You will need to both remove the `.pyc` files and restart Buildbot to pick up the changes to the `.py` files.

[2017-01-12 19:44] aneeshusa commented on #552
For reference per https://github.com/servo/saltfs/issues/576#issuecomment-272257481 - if  this hits again before the fix is merged, the  `.pyc` files must be removed and Buildbot must be restarted to pick up changes.

[2017-01-12 21:02] aneeshusa commented on #496
Some progress is made in #577, enabling at least `servo-build-dependencies` to run standalone.

[2017-01-14 02:26] aneeshusa commented on #576
I removed the `.pyc` files and restarted Buildbot yesterday; this is now working: http://build.servo.org/builders/mac-nightly/builds/208.

I also mentioned that info in the wiki for now.

[2017-01-14 02:26] #576 closed

[2017-01-17 03:55] aneeshusa commented on #462
Travis [does not (yet) support Ubuntu 16.04 environments natively](https://github.com/travis-ci/travis-ci/issues/5821), so this is blocked on #561, as we'll need to use Docker containers (per https://docs.travis-ci.com/user/docker/) to be able to test our states on Ubuntu 16.04. Note that this is not their container-based infrastructure, which doesn't support sudo, but using Docker from a regular

[2017-01-17 09:15] Ms2ger opened #578 "servo-linux1's linux-nightly repository is broken"
Since late October or early November.

[code]

[2017-01-18 02:02] aneeshusa commented on #578
I blew away the build directory after making sure no builds were running (from the web interface), using
[code]
This should work properly the time time it's scheduled on `servo-linux1` (I didn't see a way to run a force build on the specific builder to check).

[2017-01-18 02:02] #578 closed

[2017-01-19 03:37] jdm commented on #303
Looks like this was fixed by #569.

[2017-01-19 03:37] #303 closed

[2017-01-21 14:11] aneeshusa commented on #376
Apparently Travis has [a new feature called Crons](https://github.com/travis-ci/beta-features/issues/1) which allows natively scheduling nightly builds. It looks like this is still in Beta but on the cusp of going GA - I believe it can be enabled through the Travis console, possibly after a support request.

I think IRC notifications would be fine to start with, although I suppose an email alias w

[2017-01-22 19:31] aneeshusa opened #581 "Add test to check all repos in Homu's cfg.toml are valid"
This will prevent typos in repo names as well as issues like #580.

Files:
- Make a new test file `tests/sls/homu/valid_repos.py`

The test should read the deployed `cfg.toml` file for Homu (should be at `/home/servo/homu/cfg.toml`) using the `toml` Python library. Each subkey under the `repo` key of the configuration should be queried for existence on GitHub as a valid repo.

Bonus points if you

[2017-01-22 19:34] aneeshusa commented on #581
This can be tested locally using the `servo-master1` VM [in Vagrant](https://github.com/servo/saltfs/blob/master/docs/salt.md#testing-with-vagrant); look at other tests under `tests/sls/homu` for similar examples that read the deployed configuration.

[2017-01-22 19:41] aneeshusa commented on #581
It looks like we'd need the `read:repo_hook`, which only allows read and ping abilities for webhooks on public and private repos, per [the GitHub v3 API docs](https://developer.github.com/v3/oauth/). I think this is a reasonably small scope to provide to Travis to integrated into CI, since Travis already knows our webhook secret.

[2017-01-22 19:56] aneeshusa commented on #570
PR is open at #582.

[2017-01-22 22:25] emilio commented on #570
Fixed there

[2017-01-22 22:25] #570 closed

[2017-01-24 10:52] Ms2ger opened #585 "Windows buildbot failure: LLVM ERROR: IO failure on output stream."
http://build.servo.org/builders/windows-msvc-dev/builds/482/steps/compile__1/logs/stdio

Possibly running out of disk space?

[2017-01-24 15:14] Ms2ger commented on #585
I hit the "graceful shutdown" button on `servo-windows1`, that seems to have helped a bit.

[2017-01-25 14:25] Ms2ger commented on #585
@edunham @larsbergstrom this is making windows the long pole, can we please get a real fix? Thanks!

[2017-01-27 22:59] mbrubeck opened #588 "Add a third linux-cross build machine"
Android and Linux ARM builds have become a frequent bottleneck in Servo's buildbot capacity.  Adding a third buildslave to run these jobs would let them run in parallel, reducing the total turnaround time.  CC @larsbergstrom and @edunham.

[2017-01-28 20:00] aneeshusa commented on #585
I just logged into `servo-windows1` and restarted Buildbot, as well as removed some obsolete build directories. Currently looking for more old files to delete to free up space, but this should be ok for now.

[2017-01-28 20:00] #585 closed

[2017-01-28 20:02] aneeshusa opened #589 "Add windows builders to DNS"
I logged into servo-windows1 to fix #585, but it was difficult to find the right IP. There's only one IP listed in the secrets doc, which isn't correct, and neither windows builder is in DNS. I had to grep through Buildbot logs on `servo-master1` to find the IP.

The windows builders should be registered in DNS to make this easier (can just use `servo-windows1.servo.org` directly next time). I'm n

[2017-01-30 23:07] aneeshusa commented on #589
@larsbergstrom says they do not have stable IPs, so I'm not sure this is viable yet.

[2017-02-02 01:22] aneeshusa opened #593 "Make `pip.installed` actually upgrade Homu"
It seems like the `pip.installed` state currently is failing to update Homu to newer versions when the git revision changes, requiring manual upgrades.

Temporary manual upgrade procedure:
- Stop Homu with `service homu stop`
- Back up the Homu database (currently located at `/home/servo/homu/main.db`)
- Blow away the Homu dir (`/home/servo/homu`)
- Run the Salt highstate to install the upgraded H

[2017-02-04 19:22] matt-duell commented on #413
Hey @rwaweber , looks like there hasn't been movement on this one, mind if I submit a Work in progress PR to see if it's the right idea for a fix?

[2017-02-04 19:25] rwaweber commented on #413
Go for it! I had some initial trouble setting up the testing environment
initially, but I'd definitely be interested in seeing some other stabs at
the idea.
On Sat, Feb 4, 2017 at 2:22 PM Matt Duell <notifications@github.com> wrote:

--
University of Delaware '16
B.S. In Computer Science
Minors in Computer Engineering and Cybersecurity

[2017-02-07 21:33] jdm opened #597 "Allow mach command executed by buildbot to know the PR being tested"
I'm looking at some useful improvements we could make to our automation, but I'm getting stuck on how to get some information from the buildbot environment into the mach commands being invoked as part of buildbot_steps.py. I'm specifically interested in making available:
* the builder in use
* the platform it's running
* the PR being tested

What's the best way to do this, @aneeshusa? Environment

[2017-02-08 06:25] aneeshusa commented on #597
I think environment variables is the best way to go; AFAIK you should be able to use [Buildbot properties](https://docs.buildbot.net/0.8.12/manual/cfg-properties.html#properties), which can be [interpolated](https://docs.buildbot.net/0.8.12/manual/cfg-properties.html#interpolate) at runtime. I believe the builder being used and platform should be easy to expose; however, IIRC I think Homu just sen

[2017-02-08 06:33] jdm commented on #597
I want to extend the filter-intermittents command to report the intermittents that were filtered out to a database so we can track them over time.

[2017-02-09 15:47] matt-duell commented on #413
Thanks rwaweber!
Yeah the environment set up took a bit of work. I got it going enough for running the buildbot checks though.

[2017-02-09 15:58] aneeshusa commented on #413
For linking purposes: #595 is @matt-duell's current PR.

[2017-02-09 20:56] edunham commented on #376
Nightly builds are now enabled and #598 adds notification in the bots channel on all builds.

[2017-02-11 17:54] aneeshusa opened #601 "Pin all dependencies when installing Python packages via pip"
This ensures we use known good versions and won't have random failures when new versions of packages are uploaded to pypi.

[2017-02-11 17:54] aneeshusa commented on #601
Currently, it looks like #600 is failing because [Twisted `17.1.0` was released today on pypi](https://pypi.python.org/pypi/Twisted).

[2017-02-11 17:57] aneeshusa commented on #376
@edunham Do you know if this is working? Just got hit by a new failure (see #601), but I'm not sure if Travis ran a nightly build yesterday.

[2017-02-13 22:22] edunham commented on #588
http://build.servo.org/buildslaves/servo-linux3

[2017-02-13 22:25] edunham commented on #588
Final highstate of the buildmaster will alert Buildbot to the new slave

[2017-02-14 19:24] jdm commented on #593
This also affects the version of https://github.com/servo/intermittent-tracker/ that's in use; it seems like the only steps necessary there would be:
* Blow away the Homu dir (/home/servo/intermittent-tracker)
* Run the Salt highstate to install the upgraded intermittent-tracker

[2017-02-14 21:14] edunham commented on #376
@aneeshusa Travis is reporting that it kicked off a cron about 15 minutes ago, which corresponds to the start time of https://travis-ci.org/servo/saltfs/builds/201652835. One can see the cron "last run" time on https://travis-ci.org/servo/saltfs/settings. According to the conversation in https://github.com/travis-ci/beta-features/issues/1, one can tell that the afforementioned build was triggered

[2017-02-14 21:14] #376 closed

[2017-02-14 22:26] rwaweber commented on #581
Hey @aneeshusa, I think I may give this a shot tonight.

Also, mentioned it in #servo, but since I had a tough time grabbing the dependencies (at least on El Capitan) for the vagrant environment, I setup this cask: https://github.com/rwaweber/homebrew-servo-saltfs.

[2017-02-15 01:40] aneeshusa commented on #581
Great @rwaweber, ask if you have any questions.

BTW, did you try installing Vagrant 1.8.1 from [the Hashicorp releases](https://releases.hashicorp.com/vagrant/) or via [an older Cask URL](https://github.com/caskroom/homebrew-cask/blob/b43b81d80661f38b6fe94c3f6262c862942d6fb3/Casks/vagrant.rb) (at least, I think you can do `brew cask install <some_url>`...)?

[2017-02-18 20:31] rwaweber commented on #581
I've got a WIP [here](https://github.com/servo/saltfs/pull/606).

A couple things:
1. I'm assuming that its not desired to track the differences from the servo org to the home configs, since there are a number of deprecated repos that are unlikely to be removed. Just from my own thinking, this would yield minimal usefulness; mainly something that I came up with while logic-ing it out. I would be h

[2017-02-24 05:49] rwaweber commented on #581
Pagination is configured, though I ended up rate-limiting myself a couple times during testing. As a result, I implemented a check for a token variable to allow for authenticated requests. I could imagine that being ratelimited by the github api would be less than ideal :sweat_smile:

Not sure what the best means of retrieving that could be, maybe yanking from pillar?

I still need to spend some t

[2017-02-26 21:30] jdhorwitz commented on #422
I would be willing to work on this, would just need a mentor to help guide me through to start with.

[2017-02-26 21:31] jdhorwitz commented on #286
I would like to work on this, I would just need help from a mentor along the way.

[2017-02-26 21:32] jdhorwitz commented on #417
If there is still work to be done on this and someone is willing to mentor me along the way I would love to work on it.

[2017-02-28 14:33] nox opened #609 "Unclear how to add a repository that only uses AppVeyor"

[2017-02-28 14:33] nox commented on #609
Cc @larsbergstrom

[2017-03-03 19:28] JoeCameron1 commented on #286
I'm interested in solving this bug.

[2017-03-04 11:27] nox commented on #609
I found out afterwards.

[2017-03-04 11:27] #609 closed

[2017-03-04 11:48] nox commented on #306
I think this was fixed, given rust-bindgen moved to the servo organisation.

[2017-03-04 11:48] #306 closed

[2017-03-06 08:56] rajing commented on #286
This might not be a problem anymore.
[code]
Based on the "packages were already installed" list it's a linux host - so the above applies.

[2017-03-08 00:11] metajack commented on #422
I'm happy to mentor you @jdhorwitz. Let me know if you have any questions. I'm jack in IRC as well.

[2017-03-09 00:24] glennw opened #614 "Provision a machine for running WR benchmarks."
The main requirement is that it be on real hardware (so that test runs over time are consistent).

If it has a GPU available, that's a bonus but not required right now.

Either Linux or Mac are fine - the main requirement is SSH access for me. If Linux, running 16.04 LTS probably makes sense.

[2017-03-14 06:49] choudhary001 commented on #417
@aneeshusa @jdm Hi, I have submitted a patch to fix issues due to #582 in my on-going pull request - https://github.com/servo/saltfs/pull/520.
I apologize for the late response, I was busy in the previous months.

[2017-03-14 21:50] Manishearth opened #619 "Deploy servo-gecko-try"
https://github.com/Manishearth/servo-gecko-try

Needs a similar setup as the intermittents tracker as far as flask is concerned

The setup is a bit trickier. You need a servo clone, and hg clones of https://hg.mozilla.org/mozilla-central/ and https://hg.mozilla.org/integration/autoland/ somewhere (preferably as child dirs). Additionally, you need a clone of http://hg.mozilla.org/hgcustom/version-c

[2017-03-14 21:55] metajack commented on #462
@fabricedesre needs this for Android now. I dont' think it makes sense to wait on salting the salt master to proceed here. I'm going to try and stand up a new android builder on 16.04 and iron out the issues. If that works we can update the others.

[2017-03-15 06:23] jdm commented on #581
@aneeshusa Ping to reply to the previous question.

[2017-03-15 14:53] paulrouget opened #621 "Homebrew nightly build not updated anymore (since 03/06)"
http://build.servo.org/builders/mac-nightly/builds/260/steps/compile__1/logs/stdio

[code]

[2017-03-17 17:03] larsbergstrom commented on #462
@mortimergoro It looks like we will be moving to 16.04 to unblock the other Android bits rather than trying to get the JDK update working on our current 14.04 builders.

[2017-03-18 15:54] larsbergstrom opened #624 "Consider removing the "@bors-servo" requirement from homu commands?"
IIRC, homu supports not requiring the @bors-servo bit. Should we consider removing it? I just went through my third conversation in the past two weeks explaining the history of the `bors` name and I'm pretty sure it's not serving a huge purpose above & beyond just the usual `r+` or other commands on a single line by themselves.

cc @edunham @metajack @Manishearth

[2017-03-18 16:36] KiChjang commented on #624
Wouldn't this cause confusion with the "r=me" comments?

[2017-03-18 16:47] larsbergstrom commented on #624
Yeah, I guess we'd have to ask people to do `delegate+` instead, assuming that `r=me` is "you can `r+` this when you address your nits"?

[2017-03-18 17:13] SimonSapin commented on #624
Or teach homu that `me` is not an acceptable reviewer in commands?

[2017-03-18 17:15] metajack commented on #624
Or require the command be on a line alone?

[2017-03-18 18:02] rwaweber commented on #581
Spent a bit of time investigating the webhook check, and the [earlier](https://github.com/servo/saltfs/issues/581#issue-202403929) assumptions are [correct](https://developer.github.com/v3/orgs/hooks/#scopes--restrictions) that it would be necessary to issue an auth token with elevated access.

Also, poking around some of the configurations, I noticed that there's a line in the `cfg.toml` at `/hom

[2017-03-18 18:08] Manishearth commented on #624
IIRC homu doesn't support it. Homu does support @homu though.

We probably could add support for nameless pings.

[2017-03-20 02:15] paulrouget commented on #621
@aneeshusa can you help?

[2017-03-20 04:45] aneeshusa commented on #624
I kind of like being explicit about giving commands to Homu, e.g. to allow explaining delegation without triggering a merge. Our [wiki page on Homu](https://github.com/servo/servo/wiki/Homu) mentions the name history - do you think we could just point people at that (and maybe add a bit more of the history)?

[2017-03-20 04:48] Manishearth commented on #624
Works for me. Also, we can add aliases like @homu or @bors

[2017-03-20 05:06] metajack commented on #624
Won't those cause spurious notifications to the owners of those accounts?

On Sun, Mar 19, 2017 at 10:48 PM, Manish Goregaokar <
notifications@github.com> wrote:

[2017-03-20 05:16] Manishearth commented on #624
both are already bot accounts, presumably with notifications memoryholed. They both run homu, which does not listen to notifications; rather it looks for pings in the full text of comments on repos it is configured to listened to.

[2017-03-20 14:57] larsbergstrom commented on #624
Like that the suggestion for using @homu, since then it's at least one consistent name :-)

@aneeshusa It's more that as we start having Gecko/Firefox people have to interact with this part of the system, it'd be nice to remove a bit of the legacy stuff. I find that even people who know the history end up calling homu "bors" from time to time (or use `bors` as a verb), further complicating it. I'm

[2017-03-20 15:12] metajack commented on #624
Homu is the software, not the name of the bot. Have we be leaking this implementation detail? A better bot name would be nice.

[2017-03-20 17:39] Manishearth commented on #624
We leak it in discussions about the software.  Recently someone accidentally looked at the bors repo instead of homu, I forget who.

Note that the invocation doesn't even need to ping someone, it can be `homu: r+` or something. bors-ng does this.

[2017-03-20 19:15] edunham commented on #624
I think that it's intuitive to address the autoland-bot by name (with or without the @) when giving it a command. Upon actually thinking about it, it seems really odd to request that @bors-servo take some action by saying "@homu: do the thing"

Any bot with Homu or Bors in its name will have the same namespace-overloading issues. Heck, the original "Bors" was that thingy Graydon wrote that ran on

[2017-03-29 00:44] paulrouget commented on #621
@metajack fixed it.

[2017-03-29 00:44] #621 closed

[2017-03-30 19:11] choudhary001 commented on #417
@jdm @aneeshusa ping

[2017-03-30 19:16] jdm commented on #417
Do you mean #520?

[2017-03-31 06:53] choudhary001 commented on #417
Yes, I meant https://github.com/servo/saltfs/pull/520. Sorry for the link mess up.

[2017-04-02 22:39] z1mvader commented on #252
I'd like to try this on my Rpi3, it should be fine? or should I use vagrant?

[2017-04-05 14:40] MortimerGoro commented on #462
@metajack Any news about the 16.04 builds?

[2017-04-05 23:14] metajack commented on #462
I'm planning to work on this next week.

[2017-04-11 00:47] aneeshusa commented on #252
This is about symlinks for our cross-compilation binaries, so I'm not sure it would be possible on an RPi3 since that's already ARM (would be a native instead of cross compile). I'd recommend going with the Vagrant `servo-linux-cross1` VM.

[2017-04-13 01:22] jdm opened #633 "Adndroid builders won't build anything"
[code]
The best guess we have is #618 is the cause. We should revert it and redeploy.

[2017-04-13 01:38] #633 closed

[2017-04-16 12:52] jdm opened #636 "Windows builder may be out of disk space"
#16472 received this error:
[code]

[2017-04-16 18:58] sadmansk commented on #252
If no one is working on this, I can give it a go. Just running a vagrant image is enough of a setup, or do I need other things as well?

[2017-04-16 19:29] aneeshusa commented on #636
I removed the build directories for the various `windows-gnu` builds; `servo-windows1` now has ~10GB free and `servo-windows2` has ~37GB free, which should be enough to get builds running again.

I'm working on a PR to automatically clean old rust and cargo nightlies, which should help manage this in the future.

[2017-04-16 20:38] aneeshusa commented on #636
The PR is up at servo/servo#16487. Closing this for now as the Windows builders have some headroom for builds.

[2017-04-16 20:38] #636 closed

[2017-04-17 02:32] aneeshusa commented on #252
@sadmansk go for it, I've assigned this issue to you! You should be able to do everything inside the `servo-linux-cross1` Vagrant VM (note that you'll need to edit the Vagrant setup to provide quite a bit of memory, however). Note that our build setup has changed quite a bit over the last year; I've updated the steps in the original post, so make sure to take a look at those.

[2017-04-19 04:46] aneeshusa opened #640 "Uninstall MinGW and MSYS on Windows builders to reclaim disk space"
servo/servo#16487 automatically cleans out old MSVC rustc and cargo nightlies, but we have ~20GB of old MSYS rustc and cargo nightlies on the Windows builders that won't get automatically removed.

@larsbergstrom or @metajack, now that we're not supporting MinGW/MSYS could one of you please uninstall them on the builders and purge out the `C:\msys64` folder holding the old nightlies?

[2017-04-19 04:49] metajack commented on #640
Just needs to happen on servo-windows1 and servo-windows2?

[2017-04-19 04:51] aneeshusa commented on #640
Yes, those are the only 2 windows builders AFAIK.

[2017-04-19 05:13] metajack commented on #640
This is done.

[2017-04-20 01:10] tictakk commented on #288
Hey I'm a little confused, is this still an issue? Is this still assigned?

[2017-04-20 01:20] aneeshusa commented on #288
This actually got taken care of in https://github.com/servo/saltfs/pull/577/commits/95ab185a7be4cc5f245ea2c925ecf7185c0cf84a already, thanks for checking!

[2017-04-20 01:20] #288 closed

[2017-04-20 01:21] aneeshusa commented on #593
I haven't checked, but I think #623 may have fixed this.

[2017-04-20 06:17] aneeshusa opened #641 "Add test that NDK is extracted properly"
At one point, the Salt `archive.extracted` state was hit by a bug in the Python zipfile module that caused zip files to be extracted without respecting the permissions files. This [caused our NDK binaries to lack executable bits](https://github.com/servo/saltfs/pull/529#issuecomment-259539800).

Task: Add a smoke test for NDK archive extraction and binary executable bits (at least one).
Files: `te

[2017-04-20 19:43] edunham commented on #614
Is an interim (months or 1-2 years) machine ok for this, or should we be looking at a permanent (physically owned by the project) system?

If the former is ok, we can provision a macstadium builder. The only drawback to macstadium is that we might have to migrate to another host with the same specs at arbitrary times if their datacenter logistics require it.

[2017-04-20 20:01] glennw commented on #614
An interim machine would be fine, for now. Migrating to another machine should be relatively straightforward, I think.

[2017-04-21 18:47] larsbergstrom commented on #640
Wait, I thought we're still supporting MinGW/MSYS for Tor builds of Firefox that include Servo? i.e., we wouldn't test or release the bits, but we'd still ensure Servo builds on it.

[2017-04-21 18:52] aneeshusa commented on #640
See also #620, where we stopping running `windows-gnu` builds on Windows.

[2017-04-21 18:53] larsbergstrom commented on #640
oh, it looks like @metajack decided to go forward with it - I missed that mail to the thread:
https://github.com/servo/saltfs/issues/640#issuecomment-296273105

I'd propose just reinstalling the tools until we can rewrite the script.

[2017-04-21 23:49] aneeshusa commented on #588
Still not working, see #643.

[2017-04-22 21:35] aneeshusa opened #645 "Set UTF-8 locale"
This is prompted by a warning in the homu log (`You need to set a locale compatible with unicode or homu will choke on Unicode in PR descriptions/titles.`), but in general is good hygiene.

[2017-04-23 02:40] zachncst commented on #597
@jdm @aneeshusa  I've been investigating this for working on https://github.com/servo/servo/wiki/Tracking-intermittent-failures-over-time-project as a part of a NCSU masters project. The easiest means of tracking what PR the change is associated with is using this api command `https://api.github.com/search/issues?q=<hash>`. If we just used the buildbot properties to set environmental variables tha

[2017-04-23 03:24] aneeshusa commented on #597
@zachncst That API looks like a good find! I've assigned this to you.

I still think [Buildbot properties](https://docs.buildbot.net/0.8.12/manual/cfg-properties.html#properties), which can be [interpolated](https://docs.buildbot.net/0.8.12/manual/cfg-properties.html#interpolate) at runtime, are the best way to expose new environment variables from Buildbot. In particular, I think the `got_revisio

[2017-04-23 21:16] zachncst commented on #597
@aneeshusa I have limited experience with build bot. If I add this to `make_step` in `factories.py`, will a test step be able to access it via the kwarsg?

[code]

[2017-04-24 15:58] #640 closed

[2017-04-26 06:24] aneeshusa opened #646 "Enable Travis Auto Cancellation"
This is a new beta feature:  https://blog.travis-ci.com/2017-03-22-introducing-auto-cancellation

When iterating on a branch and force pushing frequently, this will automatically cancel old builds that haven't yet started to avoid running builds which would have stale results.

cc @edunham @larsbergstrom @metajack

[2017-04-26 14:48] larsbergstrom commented on #646
That sounds great! Do you think we should enable it on all of our repos? It looks like it's a per-project setting.

[2017-04-26 15:03] metajack commented on #646
I think we should enable the PR auto-cancel but not the branch auto-cancel. That way we'll still know which specific commit introduced a failure. I've enabled PR auto-cancel for most of the repos in the servo org. I wish there was a way to control this more easily than clicking into every repo on Travis CI and then hitting settings and flipping the toggle.

[2017-04-26 17:53] aneeshusa commented on #646
@metajack In their [beta issue tracker](https://github.com/travis-ci/beta-features/issues/8), the Travis CI folks mention this can be modified via the API. I think it might be nice to make a script for this (similar to the ones in #457).

[2017-04-26 17:55] aneeshusa commented on #646
In the meantime, it might be nice to add this to the checklist for [adding new repos](https://github.com/servo/servo/wiki/Adding-a-repo-to-Homu) on the wiki.

[2017-04-27 16:01] metajack commented on #646
Make the wiki changes.

[2017-04-27 17:03] aneeshusa commented on #646
This is enabled and documented, so I don't see any other action items for this right now. Closing.

[2017-04-27 17:03] #646 closed

[2017-04-27 19:02] metajack opened #650 "state.highstate erroring in user.present on macOS"
We seem to be hitting https://github.com/saltstack/salt/issues/34658 but it's unclear how serious this is.

[2017-04-27 19:02] metajack commented on #650
cc @aneeshusa

[2017-04-29 19:54] #588 closed

[2017-04-29 21:58] larsbergstrom commented on #619
I suspect that we would like this to live on a server that is not the one with Homu on it, as that machine will be pretty locked-down, relative to the rest of Servo's infrastructure.

[2017-05-03 02:05] rwaweber commented on #581
We determined that a Get request to each repo url was sufficient and ultimately didn't warrant an access token.
I think that this could probably be closed now, right?

[2017-05-03 02:11] aneeshusa commented on #581
Yep, this can be closed for now. We can open another issue for the bonus points task at another time if that becomes necessary.

[2017-05-03 02:11] #581 closed

[2017-05-03 17:10] aneeshusa commented on #588
#643 has been rolled out and Buildbot now recognizes the third cross builder: http://build.servo.org/buildslaves

[2017-05-04 20:06] aneeshusa opened #653 "Enable multiple simultaneous RDP sessions on Windows"
I believe this can be done via group policy.
Salt 2016.11 has a new `win_lgpo.set` state that allows managing local Windows Group Policy: https://docs.saltstack.com/en/2016.11/ref/states/all/salt.states.win_lgpo.html,
which I'd like to try out.

[2017-05-04 20:24] edunham opened #654 "Discussion: Should we upgrade pip more aggressively?"
servo-linux3 got into a bad state and needed its android dir blown away and replaced by a highstate today. That's fine. What's not fine is that the highstate didn't work until after I ran `pip install --upgrade pip` on the host.

Error from Salt before upgrading Pip:
[code]

Contents of logfile on linux3:

[code]

What happened when I asked the host nicely to fix its Pip:

[code]

And after that a

[2017-05-05 06:02] aneeshusa commented on #654
The root cause of the pip error is that the pip shipped in the Ubuntu package `python-pip` is version 1.5.4, which is rather old (released 2014-02-21!). It seems to choke when running `pip freeze`, possibly depending on which Python modules are installed. Ideally these kinds of problems will go away when we update to a more recent OS (Ubuntu 16.04).

The solution, as you've found, is to install a

[2017-05-05 17:07] aneeshusa opened #656 "Test systemd-requiring states inside Docker"
This will allow testing `service.running` and other states which want to talk to a running systemd instance inside Docker, which we use to test states on non-Trusty OSes (e.g. Ubuntu Xenial).
Followup from #649.

[2017-05-05 17:30] aneeshusa opened #657 "Use Salt publisher ACL system to allow Salt usage without root access"
Salt allows somewhat pluggable authentication systems. One of these is their publisher ACL system (docs: https://docs.saltstack.com/en/2016.3/ref/publisheracl.html), which allows local users to execute Salt commands without having root access. I think implementing this would help us lock down our systems - I think we could likely give out Salt-only access instead of root access via SSH (should hel

[2017-05-06 14:48] larsbergstrom commented on #657
Oh, this is very interesting! I think that there are a few things that you could easily have people do (mainly pushing out updates, paving the "build" directory, and rebooting the machine) that would get us like 99% of the admin stuff that we need. Awesome!

Maybe restarting buildbot/homu, too :-)

[2017-05-06 14:48] larsbergstrom commented on #657
cc @metajack

[2017-05-06 20:43] aneeshusa commented on #657
Rebooting is `system.reboot`, and I can write a custom module function to blow away build dirs pretty quickly. What did you mean by "pushing out updates" - running `state.highstate`?

Restarting Homu should just be `service.restart` - I don't remember any other special steps needed.
Restarting Buildbot can be wrapped up into a custom module function.

[2017-05-08 15:30] aneeshusa opened #658 "Enable choosing specific build machine for Buildbot force builds"
We need to add the `BuildslaveChoiceParameter` to our `ForceScheduler`s.
docs: https://docs.buildbot.net/0.8.12/manual/cfg-schedulers.html#buildslavechoiceparameter

[2017-05-08 17:15] #658 closed

[2017-05-08 17:52] edunham commented on #658
@aneeshusa, have you re-highstated the buildmaster to deploy this?

[2017-05-08 17:53] aneeshusa commented on #658
@edunham Not yet, there are builds in the queue: http://build.servo.org/homu/queue/all

I also made a new label (S-needs-deploy) to help keep track of this in the future.

[2017-05-08 18:08] aneeshusa opened #661 "Android builds are failing on servo-linux-cross3"
We've tried re-highstating servo-linux-cross3; jury is still out on the last highstate, but previous attempts have not fixed the problem.

I'm not well versed with Android, but I have a new idea about what might be going wrong:
- The relevant builds (e.g. http://build.servo.org/builders/android/builds/6778/steps/compile/logs/stdio) are currently failing in the `/mach build --android --dev` step
-

[2017-05-08 18:20] edunham commented on #658
Thank you!

[2017-05-08 19:36] aneeshusa opened #662 "Run highfive on `servo-master1`?"
Implementing https://github.com/servo/highfive/issues/179 will require some Servo-specific configuration so Highfive knows to add the S-needs-deploy label to merged PRs. I'd like to keep configuration bits under version control as much as possible.

Does it make sense to Salt our highfive instance and run it on servo-master1?

cc @jdm @larsbergstrom @edunham

[2017-05-08 19:37] jdm commented on #662
The configuration bits go in the highfive repository right now. I don't see a need to move this to the builders yet.

[2017-05-08 19:38] jdm commented on #662
Prior art: https://github.com/servo/highfive/blob/master/collaborators.ini

[2017-05-08 19:47] aneeshusa commented on #661
OK, reproduced the failure on servo-linux-cross2 with the above test PR (see http://build.servo.org/builders/android/builds/6786), SDK 25.2.3 breaks `./mach build --android --dev`.

[2017-05-08 19:50] aneeshusa commented on #662
Aha, I saw only `config.sample`, that makes more sense. Closing.

[2017-05-08 19:50] #662 closed

[2017-05-08 20:06] MortimerGoro commented on #661
This line in blurdroid dependency is the one causing the problem:

https://github.com/szeged/blurdroid/blob/master/build.rs#L64

The problem is that when SDK 25.2.3 is enabled, only android-25 platform is installed. When r24.4.1 is enabled only android-18 platform is installled. Blurdroid dependency has android-18 path hardcoded...

Possible solutions:
- Add an array of platforms to saltfs instead

[2017-05-08 20:36] aneeshusa commented on #661
Making platforms into an array in saltfs is a fairly easy change. However, IMO it makes more sense to update blurdroid, then send a servo/servo PR with that change (and also fixing buildbot_steps.yml to pass the ANDROID_SDK var for `./mach build`) for a few reasons:
- Easier to test servo/servo changes since there's no need to revert as with saltfs changes
- It doesn't seem like anyone else depend

[2017-05-08 20:46] aneeshusa commented on #661
It might also make sense to use an environment variable for the platform version in `blurdroid`, and set that from buildbot_steps.yml / saltfs.

[2017-05-08 21:11] MortimerGoro commented on #661
Yes, good reasons to update blurdroid.

I'll do the PR to blurdroid, it's a easy change too.

[2017-05-08 22:01] Manishearth opened #664 "Refresh all Travis secrets"
https://blog.travis-ci.com/2017-05-08-security-advisory

It's possible someone saw our Travis secrets.

Basically, anything that was behind a `secret:` key in a travis.yml may be compromised (though they can't be retrieved now that Travis has patched  this up). We must go through all our .travis.ymls and change any passwords or other secrets that were within the travis encryption.

cc @edunham @la

[2017-05-11 03:57] aneeshusa commented on #538
In #639, I backported a fixed version of the `archive.extracted` module which includes a fix for this, and #641 tracks adding a test for this. Closing.

[2017-05-11 03:57] #538 closed

[2017-05-11 04:00] aneeshusa commented on #252
@sadmansk Have you had a chance to work on this? Do you have any questions?

[2017-05-11 04:01] aneeshusa commented on #309
Closing in favor of #559.

[2017-05-11 04:01] #309 closed

[2017-05-11 04:04] aneeshusa commented on #456
This was fixed by #476, which has been deployed. Thanks @Coder206!

[2017-05-11 04:04] #456 closed

[2017-05-11 04:09] aneeshusa commented on #101
This is happening automatically at the start of each build since commit d8955508eaf94aa235f682d08f78f6708b58d82e.

[2017-05-11 04:09] #101 closed

[2017-05-11 17:26] aneeshusa commented on #661
Thanks for the PRs @MortimerGoro! I just grepped servo/servo and I still see `android-18` in a few places and saw it used in the [build log](http://build.servo.org/builders/android/builds/6856/steps/compile/logs/stdio) for servo/servo#16812, so I think we need to update this in more places if you want to take a look. I'm going to run a force build on cross3 to check in the meantime.

[2017-05-11 17:58] MortimerGoro commented on #661
@aneeshusa the android-18 in the log are related to Android NDK (C++) which is a different SDK (it has all the platforms included). I think that there aren't more dependencies in Servo that use Android SDK (java). So the cross3 build should work

[2017-05-11 18:29] aneeshusa commented on #661
I didn't know that about SDK vs. NDK, thanks for the explanation. Indeed, the force build succeeded: http://build.servo.org/builders/android/builds/6858

I'm going to roll out #644 to `cross2` and `cross1` now, since this appears to be working. Closing this issue.

[2017-05-11 18:29] #661 closed

[2017-05-13 16:28] larsbergstrom commented on #664
I revoked all of the ones that had touched Travis and have re-created and rolled out the one for the doc builder. There are still a couple more:
1) servo git stats, run by @edunham
2) homebrew deployment, run by @paulrouget

[2017-05-15 18:37] sadmansk commented on #252
@aneeshusa Hey, really sorry, but I haven't had a chance to work on this. It's been a really busy month. I'm planning to start working on it this weekend

[2017-05-15 18:53] sadmansk commented on #252
@aneeshusa Hey, really sorry, but I haven't had a chance to work on this. It's been a really busy month. I'm planning to start working on it this weekend

[2017-05-16 07:12] glennw commented on #614
@edunham Any updates on this?

[2017-05-18 16:00] jdm opened #671 "Add intermittent failure tracking server to build.servo.org"
We will want to run an instance of the flask server in https://github.com/servo/intermittent-failure-tracker.

[2017-05-19 05:58] jdm commented on #671
@Manishearth Any chance you could do the same magic for that repository to turn it into a package that could be installed by saltfs?

[2017-05-19 17:38] Manishearth commented on #671
You need a setup.py like https://github.com/servo/intermittent-tracker/blob/master/setup.py and then just copy the  stuff in https://github.com/servo/saltfs/tree/master/intermittent-tracker with paths and names changed

[2017-05-19 20:21] aneeshusa commented on #671
This still needs to be changed for Homu, but I'd like to see any new services run as a separate user instead of as the `servo` user. This would entail adding a state to create the new user, then fixing up the paths and user/group attributes for the other states.

[2017-05-22 15:01] larsbergstrom opened #674 "Mac builder updates"
Few items here:
 - [x] Pave the 3 unnamed, PROD1, and dev mac builders with macOS 10.10.5
 - [x] Provision the various builders as `servo-mac*` machines
 - [x] Bring servo-mac1 back online
 - [x] Update all the names of the mac builders https://github.com/servo/saltfs/blob/master/buildbot/master/files/config/master.cfg#L13
 - [x] Deploy ^^ to `servo-master` and restart buildbot
 - [x] Turn off ser

[2017-05-22 19:02] aneeshusa commented on #674
It's currently finals week, I don't see myself using servo-mac1 anymore, feel free to pave :)
Any reason we'll no longer be using servo-macpro1?

We may need to update the [Buildbot config](https://github.com/servo/saltfs/blob/0536712bb93324f02a4d8332d00de3565a3caa32/buildbot/master/files/config/master.cfg#L13) so Buildbot knows about the new builders.
Also, @metajack filed #650 recently, so there

[2017-05-23 11:33] larsbergstrom commented on #674
@edunham Added the rest of the steps to push this through

[2017-05-24 01:22] edunham commented on #674
None of the versions of xcode and command line tools in the app store were compatible with 10.10.5, and macstadium started all the new ones out at 10.10.0, so I got to spend a lot of today poking at GUI installers over a slow VNC connection.

Mac8 has a nasty habit of setting its locale to Croatian in new accounts when they're created. I manually set it back to en-us for administrator and Servo, b

[2017-05-24 21:31] edunham commented on #674
5 is patched and back up. Turns out it had lost the salt master's IP from its hosts file.